.search{
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
    margin-top: calc(var(--headerHeight) + 48px);

    .searchByMap{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid rgba(0, 0, 0, 0.181);
        border-radius: 8px;
        padding: 16px;
        margin-bottom: 64px;
        cursor: default;

        &:dir(ltr){

            h2{
                margin-left: 0;
                margin-right: 16px;
            }
        }

        h2{
            font-size: 2.1rem;
            font-weight: 300;
            margin-left: 16px;
        }

        img{
            width: 44px;
            height: 44px;
        }
    }

    .map-div{
        width: 100%;
        height: 420px;
        overflow: hidden;
        display: flex;
        padding: 12px;
        margin-bottom: 44px;

        &:dir(ltr){
            .card{
                margin-left: 0;
                margin-right: 24px;
            }
        }

        .card{
            margin-left: 24px;

            &:hover{
                scale: 1;
            }
        }
    }
    
    #all-results{
        color: var(--secondColor);
        font-weight: 400;
        font-size: 2.2rem;
        margin-bottom: 44px;
    }
    
    .resultUL{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        gap: 24px;
    }

    .pagesHandler{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        margin-top: 64px;

        &:dir(ltr){
            .pageNum, .dotsBetweenPages, div{
                margin-left: 0;
                margin-right: 16px;
            }
            div{
                svg{
                    transform: rotate(90deg);
                }
            }
            #rotate-it-next{
                svg{
                    transform: rotate(-90deg);
                }
            }
        }

        .pageNum{
            padding: 8px;
            font-size: 0.8rem;
            text-align: center;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-left: 16px;
            color: grey;
            cursor: pointer;
            transition: all 0.2s ease-in;
        }

        .selectedPage{
            background: var(--secondColor);
            color: white;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .pageNum:hover{
            opacity: 0.7;
            transition: all 0.2s ease-in;
        }

        .dotsBetweenPages{
            font-size: 0.9rem;
            color: grey;
            margin-left: 16px;
        }

        div{
            width: 32px;
            height: 32px;
            padding: 4px;
            background: var(--secondColor);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 50%;
            margin-left: 16px;

            svg{
                width: 32px;
                height: 32px;
                transform: rotate(-90deg);

                path{
                    stroke: white;
                    fill: white;
                }
            }
        }

        div:hover{
            background: var(--secondColorHover);
        }

        h4{
            height: 100%;
            padding: 12px 16px;
            font-weight: 500;
        }

        :last-child{
            margin-left: 0;

            svg{
                
                transform: rotate(90deg);
            }
        }
    }

    #moreResult{
        padding: 12px 16px;
        background: transparent;
        border: none;
        font-size: 1.3rem;
        cursor: pointer;
        color: var(--secondColor);
        margin-top: 24px;
        margin-bottom: 64px;

        &:hover{
            text-decoration: underline;
        }
    }

    .book-date{
        position: relative;
        display: none;
        gap: 24px;
        width: 100%;
        max-width: 480px;
        margin: 8px 8px 32px 8px;
        padding: 24px;
        border-radius: 8px;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.173);

        .calendar-div{
            border: 2px solid rgb(242, 242, 242);
            box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.137);
            background: white;
            padding: 8px;
            border-radius: 12px;
            position: absolute;
            top: 110%;
            right: 0;
            left: unset;
            width: 100%;
            max-width: fit-content;
            z-index: 11;
            height: fit-content;

            &:dir(ltr){
                right: unset;
                left: 0;
            }
        }

        .bookingDate{
            color: grey;
            cursor: pointer;
            width: 100%;
            font-size: 0.9rem;

            h3{
                color: var(--secondColorDark);
                margin-top: 4px;
                font-weight: 500;
                font-size: 0.96rem;
            }
        }
    }

    #close-popups{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.411);
        z-index: 10;
    }
}

@media screen and (max-width: 1160px){
    .search{        
        .book-date{
            display: flex;
        }
    }
}

@media screen and (max-width: 680px){
    .search{
        margin-top: calc(var(--headerHeight) + 24px);
        .pagesHandler{
            justify-content: center;
        }
        .searchByMap{
            margin-bottom: 16px;
            h2{
                font-size: 1rem;
            }
            img{
                width: 24px;
                height: 24px;
            }
        }
        .map-div{
            height: fit-content;
            flex-direction: column-reverse;

            .google-map-popup-wrapper{
                height: 240px;
            }

            .card{
                margin-top: 24px;
                width: 100%;
                height: 280px;
                max-width: 680px;
            }
        }
        .resultUL{
            justify-content: center;
        }
        #all-results{
            font-size: 1.4rem;
        }
    }
}