.search{
    width: 100%;
    max-width: 1300px;
    background: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
    margin-top: calc(var(--headerHeight) + 48px);
    
    #all-results{
        color: var(--secondColor);
        font-weight: 400;
        font-size: 2.2rem;
        margin-bottom: 44px;
    }

    .homectg{
        margin-bottom: 32px;
        h2{
            font-size: 1.8rem;
        }
    }

    #moreResult{
        padding: 12px 16px;
        background: transparent;
        border: none;
        font-size: 1.3rem;
        cursor: pointer;
        color: var(--secondColor);
        margin-top: 24px;
        margin-bottom: 64px;

        &:hover{
            text-decoration: underline;
        }
    }

    .page-header-filter{
        position: relative;
        display: none;
        gap: 24px;
        width: 100%;
        margin: 8px 8px 32px 8px;
        padding: 24px;
        border-radius: 8px;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.173);
        flex-wrap: wrap;

        .calendar-div{
            border: 2px solid rgb(242, 242, 242);
            box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.137);
            background: white;
            padding: 8px;
            border-radius: 12px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            max-width: 680px;
            z-index: 11;
            height: fit-content;

            div{
                width: 100%;
            }

            &:dir(ltr){
                right: unset;
                left: 0;
            }
        }

        .expand-div{
            width: 100%;
            max-width: unset;
            display: flex;
            align-items: center;

            div{
                width: 100%;
                flex: 1;
                white-space: nowrap;
                margin-left: auto;
                font-size: 1rem;

                h3{
                    font-size: 0.9rem;
                    font-weight: 400;
                    color: grey;
                }
            }

            img{
                cursor: pointer;
                width: 32px;
                height: 32px;
            }
        }

        .bookingDate{
            color: grey;
            cursor: pointer;
            width: 45%;
            font-size: 0.9rem;

            h3{
                color: var(--secondColorDark);
                margin-top: 4px;
                font-weight: 500;
                font-size: 0.96rem;
            }
        }

        .city-header-div{
            width: 45%;

            .cityPopup, .catagoryPopup{
                top: 0;
                left: 0;
                right: unset;
                width: 100%;
                max-width: 680px;
                z-index: 11;
            }
        }
    }

    #close-popups{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.411);
        z-index: 10;
    }

    #righticonspan{
        span{
            transform: translate(-9px, 3px) rotate(45deg);
        }
    }
}

@media screen and (min-width: 1160px){
    .search{
        margin-top: calc(var(--headerHeight) + 24px);
    }
}

@media screen and (max-width: 1160px){
    .search{        
        margin-top: calc(var(--headerHeightMobile) + 36px);
        .page-header-filter{
            display: flex;
        }
    }
}

@media screen and (max-width: 960px){
    .search{
        margin-top: calc(var(--headerHeightMobile) + 36px);
    
        .card:hover{
            scale: unset;
        }
    }
}

@media screen and (max-width: 680px){
    .search{
        margin-top: calc(var(--headerHeightMobile) + 36px);
        .pagesHandler{
            justify-content: center;
        }
        #all-results{
            font-size: 1.4rem;
        }
    }
}