.search{
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
    margin-top: calc(var(--headerHeight) + 48px);

    .searchByMap{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid rgba(0, 0, 0, 0.181);
        border-radius: 8px;
        padding: 16px;
        margin-bottom: 64px;
        cursor: default;

        h2{
            font-size: 2.1rem;
            font-weight: 300;
            margin-left: 16px;
        }

        img{
            width: 44px;
            height: 44px;
        }
    }

    .map-div{
        width: 100%;
        height: 420px;
        overflow: hidden;
        display: flex;
        padding: 12px;
        margin-bottom: 44px;

        .card{
            margin-left: 24px;

            &:hover{
                scale: 1;
            }
        }
    }
    
    #all-results{
        color: var(--secondColor);
        font-weight: 400;
        font-size: 2.2rem;
        margin-bottom: 44px;
    }
    
    .resultUL{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        gap: 24px;
    }

    .pagesHandler{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        margin-top: 64px;

        .pageNum{
            padding: 8px;
            font-size: 0.8rem;
            text-align: center;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-left: 16px;
            color: grey;
            cursor: pointer;
            transition: all 0.2s ease-in;
        }

        .selectedPage{
            background: var(--secondColor);
            color: white;
            font-weight: 500;
        }

        .pageNum:hover{
            opacity: 0.7;
            transition: all 0.2s ease-in;
        }

        .dotsBetweenPages{
            font-size: 0.9rem;
            color: grey;
            margin-left: 16px;
        }

        div{
            width: 32px;
            height: 32px;
            padding: 4px;
            background: var(--secondColor);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 50%;
            margin-left: 16px;

            svg{
                width: 32px;
                height: 32px;
                transform: rotate(-90deg);

                path{
                    stroke: white;
                    fill: white;
                }
            }
        }

        div:hover{
            background: var(--secondColorHover);
        }

        h4{
            height: 100%;
            padding: 12px 16px;
            font-weight: 500;
        }

        :last-child{
            margin-left: 0;

            svg{
                
                transform: rotate(90deg);
            }
        }
    }

    #moreResult{
        padding: 12px 16px;
        background: transparent;
        border: none;
        font-size: 1.3rem;
        cursor: pointer;
        color: var(--secondColor);
        margin-top: 24px;
        margin-bottom: 64px;

        &:hover{
            text-decoration: underline;
        }
    }
}

@media screen and (max-width: 680px){
    .search{
        margin-top: calc(var(--headerHeight) + 24px);
        .pagesHandler{
            justify-content: center;
        }
        .searchByMap{
            margin-bottom: 16px;
            h2{
                font-size: 1rem;
            }
            img{
                width: 24px;
                height: 24px;
            }
        }
        .map-div{
            height: fit-content;
            flex-direction: column-reverse;

            .google-map-popup-wrapper{
                height: 240px;
            }

            .card{
                margin-top: 24px;
                width: 100%;
                height: 280px;
                max-width: 680px;
            }
        }
        .resultUL{
            justify-content: center;
        }
        #all-results{
            font-size: 1.4rem;
        }
    }
}