.card{
    width: 100%;
    max-width: 299px;
    min-width: 200px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    border: 2px solid var(--darkWhite);
    transition: all 0.12s ease-out;
    cursor: pointer;
    text-decoration: none;
    color: inherit;

    &:dir(ltr){
        .rateanddiscount{
            strong{
                img{
                    margin-left: 0;
                    margin-right: 4px;
                }
            }
        }
    }

    .imagesDiv{
        margin-bottom: auto;
        border-radius: 16px;
        height: 50%;
        width: 100%;
        overflow: hidden;
        z-index: 2;
        background: var(--darkWhite);
    }

    .card-content{
        margin-top: auto;
    }

    h3, h2, a{
        margin-left: 12px;
        margin-right: 12px;
    }

    .rateanddiscount{
        display: flex;
        width: 100%;
        margin-top: 8px;
        align-items: center;
        justify-content: space-between;
        padding: 0 12px;
            
        h4{
            margin-top: 4px;
            font-weight: 500;
            padding: 4px 8px;
            font-size: 0.9rem;
            border-radius: 50px;
            color: white;
            background: var(--secondColor);
        }

        strong{
            display: flex;
            align-items: center;
            font-size: 1rem;
            font-weight: 400;
            color: rgb(97, 97, 97);
    
            img{
                width: 16px;
                height: 16px;
                margin-left: 4px;
            }
        }
    }

    h3{
        font-weight: 400;
        color: grey;
        margin-top: 8px;
        display: flex;
        font-size: 1rem;
        align-items: center;
    }

    h4{
        font-weight: 400;
        color: grey;
        margin-top: 8px;
        display: flex;
        font-size: 1rem;
        align-items: center;
        padding: 0 16px;
        margin-bottom: 8px;
    }

    h2{
        margin-top: 8px;
        font-size: 1rem;
        font-weight: 500;
    }

    .visible-span, .checked-span{
        position: absolute;
        top: 8px;
        left: 8px;
        width: 58px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--darkWhite);
        padding: 4px 8px;
        border-radius: 4px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.237);
        font-weight: 300;
        z-index: 2;
    }

    .checked-span{
        width: fit-content;
        left: 74px;
    }

    .selected-card-span{
        background: var(--secondColor);
        color: white;
    }

    .selected-reject-card-span{
        background: rgb(255, 203, 189);
        color: rgb(18, 18, 18);
    }

    .card-btn-desktop, .card-btn-mobile{
        border: none;
        background: var(--secondColor);
        color: white;
        padding: 8px 12px;
        margin-top: 8px;
        border-radius: 12px;
        margin-bottom: 12px;
        font-size: 0.96rem;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        transition: all 0.3s ease-out;
    }

    .card-btn-mobile{
        display: none;
    }

    .card-btn-desktop:hover, .card-btn-mobile:hover{
        background: var(--secondColorHover);
        transition: all 0.3s ease-in;
    }

    &:hover{
        scale: 1.05;
        transition: all 0.12s ease-in;

        .arrow{
            opacity: 1;
            transition: all 0.2s ease-in;
        }
    }
}

.vertical-view{
    flex-direction: row;
    align-items: center;
    justify-content: unset;
    gap: 8px;
    overflow: hidden;
    position: relative;
    padding: 0;

    .card-content{
        padding: 8px 0;
    }

    .vertical-img{
        width: 50%;
        height: 172px;
        overflow: hidden;
        margin: 0;
        padding: 0;

        img{
            width: 100%;
            height: 100%;
        }
    }
}

@media screen and (max-width: 960px){
    .card{
        .card-btn-desktop{
            display: none;
        }

        .card-btn-mobile{
            display: block;
        }

        &:hover{
            scale: 1;
        }

        .imagesDiv{
            
        }
    }
}