.filterULDiv{
    width: 100vw;
    height: 100dvh;
    min-height: 100dvh;
    position: fixed;
    background: rgba(0, 0, 0, 0.475);
    top: 0;
    left: calc(50% - 50vw);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 120;
    padding: 24px;

    #bgDiv{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .wrapper{
        width: 100%;
        max-height: 100%;
        max-width: 680px;
        border-radius: 12px;
        background: white;
        overflow-y: hidden;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        -ms-overflow-style: none; /* IE 11 */
        scrollbar-width: none; /* Firefox 64 */    

        .filter-header{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 800;
            padding: 8px 12px;

            span{
                font-weight: 400;
                color: grey;
                cursor: pointer;
                padding: 8px 16px;
                border-radius: 8px;
                transition: all 0.2s ease-out;
            }

            span:hover{
                background: var(--darkWhite);
                transition: all 0.2s ease-in;
            }

            svg{    
                transition: all 0.2s ease-in;
                border-radius: 50%;
                width: 32px;
                height: 32px;
                padding: 4px;
                cursor: pointer;
            }

            svg:hover{
                background: var(--darkWhite);
                transition: all 0.2s ease-in;
            }
        }

        .filters-container{
            flex: 1;
            overflow-y: scroll;
            border-top: 2px solid rgba(0, 0, 0, 0.241);
            border-bottom: 2px solid rgba(0, 0, 0, 0.241);
            padding: 16px;

            .filterSearchDiv{
                width: 100%;
                border-bottom: 1px solid rgba(31, 31, 31, 0.122);
                padding: 16px 0 0 0;
                cursor: pointer;
    
                h2{
                    margin-bottom: 24px;
                }
    
                .inputDiv{
                    margin-bottom: 24px;
                }
            }
    
            .price{
                width: 100%;
                position: relative;
                display: flex;
                flex-direction: column;
                border-bottom: 1px solid rgba(31, 31, 31, 0.122);
                padding: 16px 0 8px 0;
                cursor: pointer;

                h2{
                    margin-bottom: 16px;
                    text-align: flex-end;
                }
    
                span{
                    font-size: 0.9rem;
                }
                
                #range-slider-gradient {
                    height: 24px;
                    border-radius: 12px;
                    background: var(--darkWhite);
                    margin-bottom: 12px;
                }
                
                #range-slider-gradient .range-slider__thumb {
                    border: 6px solid white;
                    box-sizing: border-box;
                }
                
                #range-slider-gradient .range-slider__thumb[data-lower] {
                    background: var(--secondColorHover);
                }
                
                #range-slider-gradient .range-slider__thumb[data-upper] {
                    background: var(--secondColor);
                }
                
                #range-slider-gradient .range-slider__range {
                    background: var(--secondColor);
                    background-size: 200% 100%;
                    background-position: 50% 0;
                }
                
                #range-slider-gradient .range-slider__range[data-active],
                #range-slider-gradient
                    .range-slider__thumb[data-active]
                    ~ .range-slider__range {
                    animation: move-bg 0.75s infinite linear;
                }
                
                @keyframes move-bg {
                    0% {
                    background-position: 50% 0;
                    }
                
                    25% {
                    background-position: 100% 0;
                    }
                
                    50% {
                    background-position: 50% 0;
                    }
                
                    75% {
                    background-position: 0% 0;
                    }
                
                    100% {
                    background-position: 50% 0;
                    }
                }
            }
    
            .city{
                width: 100%;
                display: flex;
                align-items: center;
                margin-top: 48px;
    
                select{
                    width: 100%;
                    border: none;
                    background: var(--secondColor);
                    color: white;
                    outline: none;
                    padding: 8px 16px;
                    font-size: 1rem;
                    cursor: pointer;
    
                    &::-webkit-scrollbar{
                        display: none;
                    }
                }
            }
    
            h2{
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                font-size: 1.2rem;
                cursor: pointer;
    
                h3{
                    font-weight: 400;
                }
            }
            
            .catagory{
                width: 100%;
                padding: 16px 0 16px 0;
                border-bottom: 1px solid rgba(31, 31, 31, 0.122);
                cursor: pointer;

                ul{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    list-style: none;
                    gap: 8px;
                    margin-top: 8px;
                    transition: all 0.2s ease-out;
    
                    li{
                        padding: 4px 12px;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        font-size: 0.9rem;
                    }
    
                    .selectedCatagory{
                        #righticonspan{
                            background: var(--secondColor);
                            border-color: transparent;
    
                            span{
                                display: block;
                                border-color: white;
                            }
                        }
                    }
                }
            }
        }

        .btn-div{
            width: 100%;
            padding: 16px;

            button{
                width: 100%;
                border-radius: 12px;
                background: var(--secondColor);
                color: white;
                border: none;
                padding: 15px 24px;
                font-size: 1.2rem;
                cursor: pointer;
                transition: all 0.3s ease-out;
            }
    
            button:hover{
                background: var(--secondColorHover);
                transition: all 0.3s ease-in;
            }
        }

        &::-webkit-scrollbar{
            display: none;
        }
    }

    #righticonspan{
        border: 1px solid rgb(76, 76, 76);
        border-radius: 50%;
        width: 24px;
        height: 24px;
        scale: 0.8;
        margin-left: 8px;

        &:dir(ltr){
            margin-left: unset;
            margin-right: 8px;

            span{
                transform: translate(8px, 4px);        
            }
        }

        span{
            display: none;
            width: 6px;
            height: 14px;
            border-right: 2px solid var(--secondColorDark);
            border-bottom: 2px solid var(--secondColorDark);
            transform: translate(-9px, 4px);            
        }
    }
    
}

#animate-show-filter{
    top: 0;
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#animate-hide-filter{
    top: 100%;
    transition: all 0.3s ease-out;
}

@media screen and (max-width: 960px){
    .filterULDiv{
        padding: 0;
        .wrapper{
            border-radius: 0;
            max-width: unset;
        }
    }
}

@media screen and (max-width: 680px){
    .filterULDiv{
        .wrapper{
            min-height: 100%;
        }
    }
}

@media screen and (max-width: 480px){
    .filterULDiv{
        .wrapper{
            .filterSearchDiv{
                flex-direction: column;

                svg{
                    width: 100%;
                }
    
                div{
                    padding: 8px;
                    height: 44px;
    
                    input{
                        height: 100%;
                        font-size: 1rem;
                    }
    
                    img{
                        width: 24px;
                        height: 24px;
                        margin-top: 6px;
                    }
                }
                button{
                    width: 100%;
                }
            }    
        }
    }
}