*{
    font-family: inherit;
}

.google-map-popup-wrapper{
    position: fixed;
    top: 0;
    left: calc(50% - 50vw);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    z-index: 121;

    .google-map-popup{
        width: 100%;
        min-width: unset;
        height: calc(100% - var(--headerHeightMobile));
        max-width: 680px;
        max-height: 790px;
        background: white;
        border-radius: 8px;
        overflow: hidden;
    }

    span{
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.719);
    }

    #cross-close-map{
        position: absolute;
        top: 16px;
        left: 16px;
        width: 32px;
        height: 32px;
        background: white;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 1px 1px 8px rgba(93, 93, 93, 0.685);
        z-index: 100;

        &:dir(ltr){
            left: unset;
            right: 16px;
        }

        svg{
            width: 100%;
            height: 100%;
        }
    }
}

.search-map{
    position: relative;
    top: unset;
    left: unset;
    height: fit-content;
    z-index: 1;
    width: 100%;
    height: 400px;

    .google-map-popup{
        max-width: 1300px;
        height: 100%;
    }

    /* #more-btn{
    } */

    .custom-marker{
        width: fit-content;
        max-width: 15vw;
        white-space: break-spaces;
        cursor: pointer;
        position: absolute;
        background: white;
        padding: 12px 16px 16px 16px;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.395);
        font-size: 1rem;
        font-weight: 500;
        color: rgb(68, 68, 68);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        border-radius: 50px;
        white-space: break-spaces;
        overflow-wrap: break-word;
        overflow: hidden;
        transform: translate(86px, -24px);

        &:dir(ltr){
            transform: translate(-86px, -24px);
            #discount-div{
                left: unset;
                right: -32px;
                transform: rotate(25deg);
                top: -36px;
                width: 58px;
                height: 58px;
            }
        }

        p{
            font-size: 0.9rem;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            text-align: center;
        }
        img{
            width: 10vw;
            height: 8vw;
            object-fit: contain;
            margin-bottom: -8px;
            border-radius: 12px;
        }

        #discount-div{
            border-radius: 100px;
            width: 52px;
            height: 52px;
            border: 2px solid var(--secondColor);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 10000000;
            background: white;
            color: var(--secondColor);
            font-size: 0.72rem;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.226);
            position: absolute;
            top: -16px;
            left: -12px;
            transform: rotate(-25deg);
        }
    }

    span{
        display: none;
    }
}