.cityPopup{
    width: 320px;
    height: 400px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.164);
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100%;
    right: -60px;
    padding: 0;
    overflow: hidden;
    background: white;
    border-radius: 12px;

    ul{
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        padding: 0;
        list-style: none;

        li{
            width: 100%;
            padding: 12px 24px;
            display: flex;
            justify-content: space-between;
            font-size: 1.1rem;
            cursor: pointer;
        }

        li:hover{
            background: var(--darkWhite);
        }
    }

    &:dir(ltr){
        left: -60px;
        right: unset;
    }
}

.addCity{
    width: 100%;
    padding: 16px 0 16px 0;
    border-bottom: 1px solid rgba(31, 31, 31, 0.122);
    cursor: pointer;

    ul{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        gap: 8px;
        margin-top: 8px;
        transition: all 0.2s ease-out;

        li{
            padding: 4px 12px;
            cursor: pointer;
            display: flex;
            align-items: center;
            font-size: 0.9rem;

            #righticonspan{
                border: 1px solid rgb(76, 76, 76);
                border-radius: 50%;
                width: 24px;
                height: 24px;
                scale: 0.8;
                margin-left: 8px;
        
                &:dir(ltr){
                    margin-left: unset;
                    margin-right: 8px;
        
                    span{
                        transform: translate(8px, 4px);        
                    }
                }
        
                span{
                    width: 6px;
                    height: 14px;
                    border-right: 2px solid var(--secondColorDark);
                    border-bottom: 2px solid var(--secondColorDark);
                    transform: translate(-9px, 4px);            
                }
            }
        }

        .selectedCatagory{
            #righticonspan{
                background: var(--secondColor);
                border-color: transparent;
        
                span{
                    display: block;
                    border-color: white;
                }
            }
        }

    }
}

.selectedCatagory{
    #righticonspan{
        background: var(--secondColor);
        border-color: transparent;

        span{
            display: block;
            border-color: white;
        }
    }
}

.catagoryPopup{
    width: 320px;
    height: fit-content;
    max-height: 420px;
    display: flex;
    flex-direction: column;
    position: absolute;
    background: white;
    top: 100%;
    left: -32px;
    cursor: default;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.164);

    &:dir(ltr){
        ul{
            li{
                h3{
                    margin-left: unset;
                    margin-right: auto;
                }
            }
        }
    }

    ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;

        li{
            width: 100%;
            display: flex;
            align-items: center;
            padding: 16px 24px;
            cursor: pointer;

            svg{
                width: 16px;
                height: 16px;
                margin-left: 12px;
                stroke: var(--secondColorHover);
                fill: var(--secondColorHover);

                path{
                    stroke: var(--secondColorHover);
                    fill: var(--secondColorHover);    
                }

                &:dir(ltr){
                    margin-left: 0;
                    margin-right: 16px;
                }
            }

            h3{
                color: var(--secondColorDark);
                margin-left: auto;
            }
        }

        #allCtgLi{
            border-bottom: 2px solid var(--darkWhite);
        }

        li:hover{
            background: var(--darkWhite);
        }
    }

    &:dir(ltr){
        right: -32px;
        left: unset;
    }
}

.calenderPopup{
    position: absolute;
    background: white;
    top: 100%;
    left: -350px;
    cursor: default;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.164);

    &:dir(ltr){
        right: -350px;
        left: unset;
    }
}

input{
    font-family: inherit;
}

#searchBar{
    width: 100%;
    padding: 12px;
    color: rgb(73, 73, 73);
    display: flex;
    gap: 8px;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.077);

    svg{
        width: 16px;
        height: 16px;
    }

    input{
        width: 100%;
        padding: 12px;
        background: transparent;
        outline: none;
        border: none;
    }

    &:hover{
        background: white;
    }
}

#righticonspan{
    border: 1px solid rgb(76, 76, 76);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    scale: 0.8;
    margin-left: 8px;

    &:dir(ltr){
        margin-left: unset;
        margin-right: 8px;

        span{
            transform: translate(8px, 4px) rotate(45deg);        
        }
    }

    span{
        display: none;
        width: 6px;
        height: 14px;
        border-right: 2px solid var(--secondColorDark);
        border-bottom: 2px solid var(--secondColorDark);
        transform: translate(-9px, 4px) rotate(45deg);            
    }
}