.mobileFilter{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    overflow-y: scroll;
    padding-top: 30vh;
    z-index: 120;

    #close-span{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.677);
        z-index: -1;
    }

    .filter-content{
        width: 100%;
        display: flex;
        gap: 0;
        flex-direction: column;
        height: 100%;
        background: white;
        overflow-y: scroll;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        padding: 16px 16px 32px 16px;
        -ms-overflow-style: none; /* IE 11 */
        scrollbar-width: none; /* Firefox 64 */  
        position: relative;

        #mobile-filter-header{
            width: 100%;
            height: 4px;
            margin-bottom: 44px;
            position: relative;

            &::after{
                position: absolute;
                content: '';
                width: 78px;
                height: 6px;
                top: 0;
                left: calc(50% - 39px);
                border-radius: 4px;
                background: rgb(97, 97, 97);
            }
        }

        #close-popups{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
        }

        hr{
            margin: 24px 0;
            opacity: 0.3;
        }

        .city-div-filter{
            width: 100%;
            position: relative;
            margin-bottom: -32px;

            .inputDiv{

                input{
                    border-radius: 8px;
                    cursor: pointer;    
                }
                
                &:hover{
                    border-color: var(--secondColorHover);

                    span{
                        color: var(--secondColorHover);
                    }
                }
            }

            .cityPopup{
                position: absolute;
                top: 65%;
                right: 0;
                max-width: 480px;
                left: unset;
                margin: 0;
                padding: 0;
                width: 100%;
                z-index: 3;

                &:dir(ltr){
                    left: 0;
                    right: unset;
                }
            }
        }

        h2{
            color: var(--secondColor);
            margin-bottom: 32px;
        }

        .catagory{
            width: 100%;
            margin-top: 32px;

            ul{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                gap: 8px;

                li{
                    padding: 4px 8px;
                    cursor: pointer;
                    border: 2px solid black;
                    opacity: 0.3;
                    transition: all 0.3s ease-out;
                }

                li:hover{
                    opacity: 0.7;
                    transition: all 0.3s ease-in;
                }

                .selectedCatagory{
                    opacity: 1;
                    background: var(--secondColor);
                    color: white;
                    border-color: transparent;

                    .catagoryCard{
                        width: 100%;
                    }
                }
            }
        }

        .book-date{
            position: relative;
            display: flex;
            gap: 24px;

            .calendar-div{
                border: 2px solid rgb(242, 242, 242);
                box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.137);
                background: white;
                padding: 8px;
                border-radius: 12px;
                position: absolute;
                bottom: 110%;
                right: 0;
                left: unset;
                width: fit-content;
                z-index: 3;
                height: fit-content;

                &:dir(ltr){
                    right: unset;
                    left: 0;
                }
            }

            .bookingDate{
                color: grey;
                cursor: pointer;
                font-size: 0.9rem;

                h3{
                    color: var(--secondColorDark);
                    margin-top: 4px;
                    font-weight: 500;
                    font-size: 0.96rem;
                }
            }
        }

        .mobile-filter-buttons{
            width: 100%;
            display: flex;
            gap: 16px;
            margin-top: auto;

            a{
                width: 100%;
                background: var(--secondColor);
                color: white;
                padding: 16px 24px;
                text-align: center;
                text-decoration: none;
                border-radius: 8px;
                font-size: 1.2rem;
                font-weight: 500;
                transition: all 0.2s ease-out;
                z-index: 3;
            }

            #skip-filter{
                background: var(--darkWhite);
                color: grey;
            }

            a:hover{
                opacity: 0.7;
                transition: all 0.2s ease-in;
            }
        }

        &::-webkit-scrollbar{
            display: none;
        }
    }

    &::-webkit-scrollbar{
        display: none;
    }
}

@media screen and (min-width: 960px){
    .mobileFilter{
        width: 100%;
        height: 100vh;
        position: absolute;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        overflow-y: unset;
        padding: 24px;
        z-index: 120;

        .filter-content{
            max-width: 480px;
            border-radius: 24px;
            padding: 24px;
            height: fit-content;
            min-height: 100%;
            max-height: 100%;
            overflow-y: scroll;
            overflow-x: visible;
            
            .mobile-filter-buttons{
                a{
                    width: 100%;
                    padding: 8px 24px;
                    border-radius: 8px;
                    font-size: 1rem;
                }
            }

            .book-date{
                .calendar-div{
                    top: 120%;
                    right: 0;
                }
            }

            &::-webkit-scrollbar{
                display: none;
            }
        }
    }
}

@media screen and (max-width: 960px){
    .mobileFilter{
        .filter-content{
            min-height: 100%;
        }
    }
}

@media screen and (max-width: 480px){
    .mobileFilter{
        .filter-content{
            .book-date{
                .calendar-div{
                    width: 100%;
                }
            }
        }
    }
}