.props-array{
    width: 100%;

    .resultUL{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        gap: 24px;
    }

    .skeleton{
        margin: 0;
    }
    
    #title-h{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 32px;
    }
}



@media screen and (max-width: 1160px){
    .props-array{
        .resultUL{
            .card{
                max-width: 48%;
            }
        }
    }
}

@media screen and (max-width: 680px){
    .props-array{
        .resultUL{
            align-items: center;
            flex-direction: column;
    
            .card{
                width: 100%;
                max-width: 480px;
            }
        }
    }
}

