.reviewCard{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px;
    border-radius: 8px;

    &:dir(ltr){
        .reviewer-details{
            #span-image{
                margin-left: unset;
                margin-right: 12px;
            }
            .name-and-rate{
                span {
                    margin-top: 4px;
                    svg{
                        margin-left: 0;
                        margin-right: 4px;
                    }
                }
            }
        }
        p{
            margin-top: 12px;
        }
        h4{
            margin-left: auto;
            margin-right: 4px;
        }
    }

    .reviewer-details{
        display: flex;
        align-items: center;

        #span-image{
            width: 64px;
            min-width: 64px;
            max-width: 64px;
            min-height: 64px;
            max-height: 64px;
            height: 64px;
            border-radius: 50%;
            padding: 0;
            background: var(--secondColor);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 1.5rem;
            margin-left: 12px;
        }

        .name-and-rate{
            span{
                font-size: 0.9rem;
                font-weight: 300;
                color: var(--secondColorDark);
                display: flex;
                align-items: center;
    
                svg{
                    width: 16px;
                    height: 16px;
                    margin-left: 4px;
                    fill: var(--secondColor);
    
                    path{
                        stroke: transparent;
                    }
                }
            }
        }
    }

    #wrote-date{
        width: 100%;
        font-size: 0.8rem;
        color: rgb(153, 153, 153);
        margin: 12px 8px -8px 8px;
        font-weight: 200;
    }

    p{
        width: 100%;
        margin: 8px 8px 0 8px;
    }

    h3{
        font-size: 1rem;
        padding: 0;
    }

    h4{
        padding: 0;
        height: fit-content;
        margin-right: auto;
        margin-left: 4px;
        cursor: pointer;
        transition: all 0.2s ease-out;

        svg{
            fill: rgb(183, 183, 183);
            transition: all 0.2s ease-out;
        }
    }

    h4:hover{
        svg{
            fill: rgb(162, 162, 162);
            transition: all 0.2s ease-in;
        }
    }

    .delete-file{
        position: static;
        background: transparent;
        margin: 0;

        svg{
            width: 16px;
            height: 16px;
            margin: 0;
            path{
                fill: var(--softRed);
                transition: all 0.2s ease-out;
            }
        }

        &:hover{
            background: transparent;
            svg path{
                fill: red;
                transition: all 0.2s ease-in;
            }
        }
    }
}