.aboutSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    padding: 32px ;
    border-radius: 8px;
    max-width: 1300px;
    margin-bottom: 64px;
    position: relative;

    .perfectRent{
        width: 100%;
        height: 280px;
        display: flex;
        flex-wrap: wrap;
        position: relative;

        .textDiv{
            width: 100%;
            max-width: 360px;
            margin-left: 32px;
            padding-left: 64px;
            margin-bottom: 64px;
            height: 100%;
            background: white;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            z-index: 2;

            h2{
                color: var(--secondColor);
                margin-bottom: 24px;
                font-size: 2rem;
            }

            p{
                margin-bottom: auto;
            }

            h4{
                background: transparent;
                color: var(--secondColor);
                margin-bottom: 24px;
                font-size: 1.1rem;
            }

            .about-arrows{
                display: flex;

                svg{
                    width: 44px;
                    height: 44px;padding: 8px;
                    background: var(--darkWhite);
                    border-radius: 50%;
                    transition: all 0.2s ease-out;

                    path{
                        stroke: rgb(79, 79, 79);
                        fill: rgb(79, 79, 79);
                    }
                }

                .about-arrow-slide-prev{
                    margin-left: 16px;
                    cursor: pointer;

                    svg{
                        transform: rotate(-90deg);
                    }
                }

                .about-arrow-slide-next{
                    cursor: pointer;

                    svg{
                        transform: rotate(90deg);
                    }
                }

                svg:hover{
                    background: var(--darkWhiteHover);
                    transition: all 0.2s ease-in;
                }
            }
        }

        .swiperAboutContainer{
            width: 100%;
            max-width: 480px;
            position: relative;
            height: 100%;

            .swiperAboutDiv{
                position: absolute;
                top: 0;
                right: 0;
                width: 100vw;
                height: 100%;
                padding-left: 664px;

                &:dir(ltr){
                    padding-left: unset;
                    padding-right: 664px;
                    right: unset;
                    left: 0;

                    .wrapperDiv{
                        .aboutListItem{
                            margin-left: 0;
                            margin-right: 32px;
                        }
                    }
                }

                .wrapperDiv{
                    width: fit-content;
                    align-items: center;
                    height: 100%;

                    .aboutListItem{
                        width: 480px;
                        height: 100%;
                        scroll-snap-align: center;
                        border-radius: 24px;
                        margin-left: 32px;
                        overflow: hidden;
                        cursor: pointer;
                        display: flex;
                        align-items: flex-end;
                        justify-content: center;
                        transition: all 0.2s ease-out;
                        position: relative;
                        
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 0;
                        }

                        h3{
                            color: white;
                            font-size: 1.4rem;
                            width: 100%;
                            text-align: center;
                            z-index: 2;
                            margin-bottom: 32px;
                        }

                        &:after{
                            position: absolute;
                            content: '';
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 50%;
                            background: linear-gradient(to top, rgba(0, 0, 0, 0.786), transparent);
                            z-index: 1;
                            transition: all 0.2s ease-out;
                        }

                        &:hover{
                            background: var(--secondColorHover);
                            transition: all 0.2s ease-in;
                        
                            &:after{
                                height: 100%;
                                transition: all 0.2s ease-in;
                            }
                        }
                    }
                }
            }
        }

        #background-wall-span{
            position: absolute;
            content: '';
            right: calc((100vw - 100%) / 2 * -1 - 48px);
            top: 0;
            width: calc((100vw - 100%) / 2 + 48px);
            height: 100%;
            background: white;
            z-index: 2;
        }
    }

    #add-page{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 16px;
        border-radius: 50px;
        border: 1px solid rgba(0, 0, 0, 0.193);
        text-decoration: none;
        font-size: 1rem;
        font-weight: 600;
        color: var();
        background: white;
        color: var(--secondColorDark);
        gap: 12px;
        margin-bottom: 48px;
        transition: all 0.2s ease-out;

        svg{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 1px solid var(--secondColor);

            path{
                fill: var(--secondColor)
            }
        }
    }

    #add-page:hover{
        background: var(--darkWhiteLight);
        transition: all 0.2s ease-in;
    }

    .whatWeOffer{
        width: 100%;
        margin-top: 96px;
        display: flex;
        justify-content: space-between;
        height: 400px;

        .whatweoffercontent{
            width: 100%;
            max-width: 640px;
            display: flex;
            flex-direction: column;
            height: 100%;
            margin-left: 24px;

            h2{
                font-size: 2rem;
                color: var(--secondColor);
                margin-bottom: 24px;
            }

            p{
                margin-bottom: 72px;
            }

            ul{
                display: grid;
                grid-template-columns: 1fr 1fr;
                list-style: none;
                gap: 24px;

                li{
                    width: 100%;
                    display: flex;
                    margin-bottom: 32px;

                    svg{
                        width: 24px;
                        height: 24px;
                        position: relative;
                        margin-left: 16px;
                    }

                    div{
                        width: 100%;

                        h4{
                            color: var(--secondColor);
                            margin-bottom: 2px;
                        }

                        h5{
                            color: rgb(51, 51, 51);
                            font-weight: 400;
                        }
                    }
                }
            }
        }

        .whatWeOfferImageDiv{
            position: relative;
            height: 100%;

            img{
                width: auto;
                height: 100%;
                object-fit: cover;
                border-radius: 24px;
            }
        }
    }

    .english-whatweoffer{
        .whatweoffercontent{
            margin-left: 0;
            margin-right: 24px;

            h2{
                margin-bottom: 12px;
            }
            p{
                margin-bottom: 48px;
                margin-left: 4px;
            }
            
            ul li svg{
                margin-left: 0;
                margin-right: 16px;
            }
        }
    }
}

@media only screen and (max-width: 1160px){
    .aboutSection{
        #add-page{
            display: flex;
        }
    }
}

@media only screen and (max-width: 960px){
    .aboutSection{

        .perfectRent{
            height: fit-content;
            flex-direction: column;
    
            .textDiv{
                max-width: unset;
                margin-left: 0;
                padding-left: 0;
                margin-right: 0;
                padding-right: 0;
                height: fit-content;
                align-items: flex-start;

                p{
                    margin-bottom: 32px;
                }
            }
    
            .swiperAboutContainer{
                height: 254px;
    
                .swiperAboutDiv{
                    padding-left: 494px;

                    &:dir(ltr){
                        padding-left: unset;
                        padding-right: 494px;
                    }
    
                    .wrapperDiv{
    
                        .aboutListItem{
                            width: 400px;
                        }
                    }
                }
            }
    
            &::after{
                position: absolute;
                content: '';
                right: calc((100vw - 100%) / 2 * -1 - 48px);
                top: 0;
                width: calc((100vw - 100%) / 2 + 48px);
                height: 100%;
                background: white;
                z-index: 2;
            }
        }

        .whatWeOffer{
            flex-direction: column-reverse;
            height: fit-content;
            align-items: center;

            .whatweoffercontent{
                p{
                    margin-bottom: 32px;
                }
            }

            .whatWeOfferImageDiv{
                margin-bottom: 64px;
                height: 320px;
            }
        }
    }
}

@media only screen and (max-width: 680px){
    .aboutSection{
        padding: 12px;
        margin: 32px 0 0 0;

        .perfectRent{
            padding: 0 12px;
            .textDiv{
                margin-bottom: 0;
                h2{
                    font-size: 1.8rem;
                    margin-bottom: 16px;
                }
                p, h4{
                    font-size: 1rem;
                    margin-bottom: 16px;
                }
                .about-arrows{
                    display: none;
                }
            }
            .swiperAboutContainer{
                .swiperAboutDiv{
                    padding-left: 32px;
                    overflow: hidden;

                    &:dir(ltr){
                        padding-left: unset;
                        padding-right: 32px;
                    }
                    .wrapperDiv{
                        .aboutListItem{
                            width: 100%;
                            max-width: 280px;
                            margin-left: 16px;

                            h3{
                                font-size: 1rem;
                           }
                        }
                    }
                }
            }
        }
        .whatWeOffer{
            padding: 12px 32px;
            width: 100%;
            max-width: 480px;
            margin-top: 44px;

            .whatWeOfferImageDiv{
                width: 80vw;
                max-width: 360px;
                height: 80vw;
                display: flex;
                justify-content: center;
                margin-bottom: 4px;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .whatweoffercontent{
                margin: 0;

                h2{
                    font-size: 1.8rem;
                    margin-bottom: 8px;
                }

                p{
                    font-size: 0.9rem;
                }

                h4{
                    font-size: 0.88rem;
                }

                h5{
                    font-size: 0.76rem;
                }

                ul{
                    grid-template-columns: 1fr;
                    gap: 0;
                }
            }
        }
    }
}