.view{
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--headerHeightMobile);
    padding: 12px;
    position: relative;

    .reportDiv{
        width: calc(100% - 24px);
        max-width: 480px;
        padding: 16px;
        position: fixed;
        top: var(--headerHeightMobile);
        background: white;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.14);
        border-radius: 12px;
        z-index: 10;

        h2{
            margin-bottom: 32px;
            font-size: 1.2rem;
            font-weight: 500;
            color: rgb(85, 85, 85);
            width: 100%;
            display: flex;
            align-items: center;

            &:dir(ltr){
                svg{
                    margin-right: 0;
                    margin-left: auto;
                }
            }

            svg{
                margin-right: auto;
                cursor: pointer;
                width: 32px;
                height: 32px;
                padding: 4px;
                background: var(--darkWhite);
                border-radius: 50%;
            }

            svg:hover{
                background: var(--darkWhiteHover);
            }
        }

        #register-first{
            width: 100%;
            text-align: center;
        }

        .inputDiv{
            margin: 0;
        }

        button{
            background: var(--secondColor);
            color: white;
            padding: 12px 24px;
            border: none;
            font-size: 1rem;
            border-radius: 4px;
            margin-top: 24px;
            cursor: pointer;
            transition: all 0.2s ease-out;
        }

        button:hover{
            background: var(--secondColorHover);
            transition: all 0.2s ease-in;
        }

        p{
            max-width: 100%;
            padding: 16px;
            border-radius: 2px;
            background: var(--darkWhite);
            direction: ltr;
            white-space: pre-wrap;
            word-wrap: break-word;
            word-break: break-all;
        }
    }

    .shareDiv{

        button{
            background: var(--darkWhite);
            color: rgb(54, 54, 54);
            padding: 12px 16px;
            border: 2px solid transparent;
            font-weight: 500;
            gap: 4px;
        }

        #share-url-copied{
            color: var(--secondColor);
            gap: 16px;

            svg path{
                fill: var(--secondColor);
            }
        }

        button:hover{
            background: transparent;
            border: 2px solid var(--darkWhite);
        }
    }
    
    .full-screen{
        width: 100%;
        height: 100%;
        z-index: 1001;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.855);
        padding: 12px;
        
        svg{
            position: absolute;
            top: 16px;
            left: 16px;
            width: 32px;
            height: 32px;
            background: var(--darkWhite);
            border-radius: 12px;
            padding: 4px;
            cursor: pointer;
            z-index: 1;
        }

        svg:hover{
            background: var(--darkWhiteHover);
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .rejection-div{
        width: 100%;
        background: rgb(255, 204, 190);
        padding: 16px;
        border-radius: 4px;
        margin-top: 16px;
        margin-bottom: 32px;
        color: rgb(110, 110, 110);

        div, div span{
            margin-bottom: 16px;
            color: rgb(110, 110, 110);
        }

        ul{
            display: flex;
            flex-direction: column;
            list-style: inside;
            padding: 16px;
        }
        
        p{
            display: flex;
            align-items: center;
            font-size: 0.9rem;
            margin-top: 12px;

            svg{
                width: 16px;
                height: 16px;
                margin-left: 8px;

                &:dir(ltr){
                    margin-left: 0;
                    margin-right: 8px;
                }
                
                path{
                    fill: rgb(110, 110, 110);
                }
            }

            a{
                color: black;
                margin-right: 4px;

                &:dir(ltr){
                    margin-right: 0;
                    margin-left: 4px;
                }
            }
        }
    }

    .intro{
        width: 100%;
        display: flex;
        flex-direction: column;
    
        .iamgesViewDiv{
            width: 100%;
            margin-top: 48px;
            position: relative;

            &:dir(ltr){
                .btns{
                    margin-right: 0;
                    margin-left: 48px;
                }
            }

            .delete-file{
                svg{
                    margin-right: 0;
                    margin-left: 6px;
                }
            }
    
            .btns{
                display: flex;
                margin-right: 48px;
                border: 2px solid rgba(0, 0, 0, 0.1);
                width: fit-content;
                padding: 4px;
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;
                transform: translateY(2px);
    
                button{
                    padding: 12px 24px;
                    margin: 4px;
                    background: var(--darkWhite);
                    color: rgb(94, 94, 94);
                    border: none;
                    font-size: 1.1rem;
                    font-weight: 500;
                    border-radius: 12px;
                    cursor: pointer;
                    transition: all 0.3s ease-out;
    
                    &:hover{
                        opacity: 0.7;
                        transition: all 0.3s ease-in;
                    }
                }
    
                .selectedFileType{
                    background: var(--secondColor);
                    color: white;
                }
            }
    
            .imagesDiv{
                border-radius: 16px;
                border: 2px solid rgb(0, 0, 0, 0.1);
                overflow: hidden;
                height: 450px;
                background: white;
                cursor: pointer;

                .arrow{
                    opacity: 1;
                }
            }


        }

        #wishlistDiv{
            position: absolute;
            right: 0;
            top: 0;
            padding: 32px 12px 0 12px;
            width: fit-content;
            display: none;
            align-items: center;
            z-index: 1;
            width: 100%;

            &:dir(ltr){
                right: unset;
                left: 0;

                #return-arrow{
                    margin-left: unset;
                    margin-right: auto;
                    transform: rotate(90deg);
                }
            }
    
            #return-arrow{
                margin-left: auto;
                transform: rotate(-90deg);
                svg path{
                    fill: white;
                    stroke: white;
                }
            }

            svg{
                height: 32px;
                width: 32px;
                padding: 5px;
                margin: 0 6px;
                border-radius: 50%;
                background: rgba(68, 68, 68, 0.212);
                cursor: pointer;
                transition: all 0.2s ease-in;

                path{
                    fill: white;
                    stroke: white;
                }
            }

            svg:hover{
                background: rgba(56, 56, 56, 0.436);
                transition: all 0.2s ease-in;
            }
        }

        #open-images-loader{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 280px;
            cursor: pointer;
        }
    }

    .itemIntro{
        width: 100%;

        &:dir(ltr){
            h1{
                h4{
                    margin-right: 0;
                    margin-left: auto;

                    svg{
                        margin-right: 0;
                        margin-left: 6px;
                    }
                }
            }
            ul{
                li{
                    margin-left: 0;
                    margin-right: 32px;

                    svg{
                        margin-left: 0;
                        margin-right: 8px;
                    }
                }
                #giveThisMarginRight{
                    margin-right: 16px;
                    margin-left: auto;
                }
            }
        }

        h1{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            span{
                color: rgba(80, 80, 80, 0.677);
                font-weight: 400;
            }

            #mobile-unit-span{
                margin: 0 8px;
                font-size: 0.8rem;
                display: none;
            }

            #desktop-unit-span{
                width: 100%;
                font-size: 0.8rem;
            }

            h4, a{
                margin-right: auto;
                padding: 8px 12px;
                font-size: 1rem;
                border: 2px solid rgba(0, 0, 0, 0.149);
                border-radius: 4px;
                margin-right: auto;
                cursor: pointer;
                display: flex;
                align-items: center;
                color: grey;
                transition: all 0.2s ease-out;
    
                svg{
                    fill: grey;
                    margin-right: 6px;
                }
            }
    
            h4:hover, a:hover{
                background: var(--darkWhite);
                transition: all 0.2s ease-in;
            }

            a{
                text-decoration: none;
                &:dir(ltr){
                    svg{
                        margin-right: 0;
                        margin-left: 8px;
                    }
                }
                svg{
                    width: 20px;
                    height: 20px;
                    margin-right: 8px;
                }
            }
        }

        ul{
            width: 100%;
            display: flex;
            list-style: none;
            margin-top: 24px;

            li{
                font-size: 1rem;
                font-weight: 500;
                color: var(--secondColor);
                margin-left: 32px;
                display: flex;
                align-items: center;

                a{
                    text-decoration: none;
                    color: inherit;
                }

                svg{
                    width: 16px;
                    height: 16px;
                    margin-left: 8px;
                    fill: var(--secondColorHover);
                    opacity: 0.6;

                    path{
                        fill: var(--secondColorHover);
                        stroke: var(--secondColorHover);
                    }
                }
            }

            #giveThisMarginRight{
                margin-right: auto;
            }
        }
    }

    .dicount-sticker{
        position: absolute;
        top: 72px;
        left: 286px;
        background: var(--secondColor);
        color: white;
        width: 128px;
        height: 128px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        padding-top: 16px;
        border: 4px solid var(--secondColorHover);

        &:dir(ltr){
            right: 286px;
            left: unset;
    
            #main-num{
                margin-top: -2px;
                margin-bottom: -16px;
            }
        }

        span{
            text-align: center;
            font-size: 0.7rem;
            margin: 0;
            padding: 0;
        }

        #main-num{
            font-size: 3.6rem;
            font-weight: 700;
            margin-top: -28px;
            height: 80px;
        }
    }
    
    .mobileIntro{
        display: none;
    }

    .aboutItem{
        margin-top: 32px;
        width: 100%;
        display: flex;
        gap: 32px;

        &:dir(ltr){
            .details{
                .specificationsUL li ul{
                    margin-right: 0;
                    margin-left: 32px;
                }
                .mapDiv .addressMapDiv img{
                    margin-left: 0;
                    margin-right: 8px;
                }
                .mapDiv .moreDetailsAfterPay svg{
                    margin-left: 0;
                    margin-right: 12px;
                }
                .mapDiv .googleMapDiv span{
                    left: unset;
                    right: 0;
                }
                .termsUL #hostLiTermsUL ul{
                    margin-left: 32px;
                    margin-right: 0;
                }
            }
            .checkout .nightsDiv{
                h3{
                    span{
                        margin: 0;
                    }
                } 
            }
        }

        .details{
            width: 100%;
            display: flex;
            flex-direction: column;
            
            label{
                font-size: 1.6rem;
                font-weight: 600;
            }

            #desc-p{
                font-size: 1rem;
                width: 100%;
                word-break: break-all;
                color: rgb(77, 77, 77);
                margin: 0;
            }

            .the-host{
                width: 100%;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                margin-top: 32px;
                border-top: 1px solid rgba(0, 0, 0, 0.16);
                border-bottom: 1px solid rgba(0, 0, 0, 0.16);
                padding: 32px 12px;
                text-decoration: none;
                color: rgb(76, 76, 76);

                &:dir(ltr){
                    .header-host{
                        span{
                            margin-right: unset;
                            margin-left: auto;
                            font-weight: 400;

                            svg{
                                transform: rotate(-90deg);
                            }
                        }
                    }
                    div{
                        margin-right: auto;
                        margin-left: 16px;
                        
                        h3{
                            margin-bottom: 4px;
                        }
                    }
                }

                .header-host{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    margin-bottom: 24px;

                    span{
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        margin-right: auto;
                        color: var(--secondColorHover);
                        cursor: pointer;
                        transition: all 0.2s ease-out;
                        font-size: 1rem;

                        svg{
                            transform: rotate(90deg) translateX(1px);
                            width: 20px;
                            height: 20px;

                            path{
                                fill: var(--secondColorHover);
                            }
                        }
                    }

                    span:hover{
                        color: var(--secondColor);
                        transition: all 0.2s ease-in;

                        svg path{
                            fill: var(--secondColor);
                        }
                    }
                }

                #image-span{
                    width: 52px;
                    height: 52px;
                    border-radius: 50%;
                    background: var(--secondColor);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    font-size: 1.2rem;
                }

                div{
                    margin-right: 16px;
                    margin-left: auto;

                    h3{
                        font-weight: 400;
                        font-size: 1rem;
                    }

                    h4{
                        font-weight: 400;
                        display: flex;
                        gap: 8px;
                        align-items: center;
                        font-size: 0.8rem;
        
                        svg{
                            width: 16px;
                            height: 16px;
                            fill: var(--secondColorHover);
                            stroke: var(--secondColorHover);
                            opacity: 0.7;
        
                            path{
                                fill: var(--secondColorHover);
                                stroke: var(--secondColorHover);
                            }
                        }
                    }
                }

                p{
                    font-size: 0.9rem;
                }
            }

            .tabButtons{
                width: 100%;
                display: flex;
                list-style: none;
                border-radius: 50px;
                margin-top: 48px;
                border: 1px solid rgb(228, 228, 228);
                padding: 2px;

                li{
                    padding: 12px;
                    width: 100%;
                    border-radius: 50px;
                    text-align: center;
                    color: var(--secondColorDark);
                    cursor: pointer;
                    transition: all 0.2s ease-out;
                }

                li:hover{
                    color: var(--secondColorHover);
                    transition: all 0.2s ease-in;
                }

                .selectedTab{
                    background: var(--secondColor);
                    color: white;
                    transition: all 0.2s ease-in;
                }

                .selectedTab:hover{
                    background: var(--secondColorHover);
                    color: white;
                    transition: all 0.2s ease-in;
                }
            }

            .mobileTabButtons{
                display: none;
            }

            h2{
                margin-top: 32px;
                margin-bottom: 16px;
                color: var(--secondColorDark);
                font-size: 1.8rem;
            }

            .specificationsUL{
                width: 100%;
                display: flex;
                flex-direction: column;

                li{
                    width: 100%;
                    font-size: 1.1rem;
                    font-weight: 500;
                    color: var(--secondColorDark);
                    padding: 24px 0;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    border-bottom: 2px solid rgba(0, 0, 0, 0.077);

                    &:dir(ltr){
                        ul{
                            margin-right: unset;
                            margin-left: 40px;
                        }

                        svg{
                            margin-left: unset;
                            margin-right: 8px;
                        }

                        h3{
                            margin-left: unset;
                            margin-right: auto;
                        }
                    }

                    ul{
                        width: 100%;
                        margin-right: 40px;
                        margin-top: 16px;

                        li{
                            border: none;
                            padding: 0;
                            font-weight: 400;
                            font-size: 1rem;
                            margin-bottom: 4px;
                        }
                    }

                    h3{
                        font-size: 1.1rem;
                        margin-left: auto;
                    }

                    svg{
                        width: 24px;
                        height: 24px;
                        opacity: 0.5;
                        margin-left: 8px;
                        fill: var(--secondColorDark);
                        stroke: var(--secondColorDark);

                        path{
                            fill: var(--secondColorDark);
                            stroke: var(--secondColorDark);
                        }
                    }
                }

                #lastLiTabButtonUL{
                    border: none;
                }
            }

            .reviews{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .write-review{
                    margin-top: 16px;
                    width: 100%;
                    padding: 16px;
                    background: var(--darkWhite);
                    display: flex;
                    flex-direction: column;
                    border-radius: 2px;

                    h3{
                        font-weight: 400;
                        color: rgb(85, 85, 85);
                        margin-bottom: 24px;
                    }

                    h4{
                        font-weight: 400;
                        margin-bottom: 16px;
                        width: 100%;
                        text-align: center;
                    }

                    .rating{
                        margin-bottom: 24px;
                        width: 100%;
                        display: flex;
                        justify-content: center;

                        svg{
                            width: 32px;
                            height: 32px;
                            cursor: pointer;
                            margin-left: 6px;
                        }

                        &:dir(ltr){
                            svg{
                                margin-left: 0;
                                margin-right: 6px;
                            }
                        }
                    }

                    textarea{
                        border: none;
                        padding: 12px;
                        resize: vertical;
                        outline: none;
                        margin-bottom: 24px;
                        font-family: inherit;
                        font-size: 0.9rem;
                    }

                    button{
                        width: fit-content;
                        font-size: 1rem;
                        margin: 0;
                        padding: 12px 24px;
                        background: var(--secondColor);
                        color: white;
                        transition: all 0.2s ease-out;
                    }

                    button:hover{
                        background: var(--secondColorHover);
                        transition: all 0.2s ease-in;
                    }

                    p{
                        color: var(--secondColor);
                        margin-top: 12px;
                    }
                }

                .reviews-layout{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 32px;

                    .numbers{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 0;
                        min-width: fit-content;

                        h4{
                            font-size: 2.5rem;
                        }
                    }

                    .charts{
                        width: 100%;
                        display: flex;
                        flex-direction: column;

                        div{
                            width: 100%;
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            color: rgb(81, 81, 81);
                            font-weight: 600;
                            font-size: 1.1rem;

                            p{
                                font-size: 1rem;
                                font-weight: 400;
                                white-space: nowrap;
                                color: rgb(124, 124, 124);
                            }

                            div{
                                width: 100%;
                                background: var(--darkWhite);
                                height: 8px;
                                border-radius: 12px;
                                margin-right: 16px;
                                overflow: hidden;

                                &:dir(ltr){
                                    margin-right: unset;
                                    margin-left: 16px;
                                }

                                span{
                                    width: 80%;
                                    height: 100%;
                                    background: var(--secondColor);
                                }
                            }
                        }
                    }
                }
        
                h2{
                    color: var(--secondColor);
                    width: 100%;
                    position: relative;
                    text-align: center;
        
                    &::before{
                        position: absolute;
                        content: '';
                        top: 60%;
                        left: 0;
                        width: calc(50% - 96px);
                        height: 2px;
                        background: var(--secondColor);
                    }
        
                    &::after{
                        position: absolute;
                        content: '';
                        top: 60%;
                        right: 0;
                        width: calc(50% - 96px);
                        height: 2px;
                        background: var(--secondColor);
                    }
                }
        
                ul{
                    margin-top: 32px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                }
        
                button{
                    border: 2px solid var(--secondColor);
                    background: transparent;
                    padding: 12px;
                    border-radius: 4px;
                    color: var(--secondColor);
                    margin-top: 32px;
                    transition: all 0.3s ease-out;
                    cursor: pointer;
                }
        
                button:hover{
                    background: var(--secondColor);
                    color: white;
                    transition: all 0.3s ease-in;
                }
            }

            .mapDiv{
                width: 100%;
                margin-top: 16px;

                .addressMapDiv{
                    display: flex;
                    align-items: center;
                    margin-bottom: 12px;

                    img{
                        width: 32px;
                        height: 32px;
                        margin-left: 8px;
                    }
                }

                .moreDetailsAfterPay{
                    margin-bottom: 32px;
                    font-weight: 500;
                    font-size: 0.8rem;
                    color: rgb(160, 160, 160);
                    display: flex;
                    align-items: center;

                    svg{
                        width: 16px;
                        height: 16px;
                        margin-left: 12px;
                        transform: rotate(180deg);

                        path{
                            stroke: rgb(71, 71, 71);
                            fill: none;
                        }
                    }
                }

                .googleMapDiv{
                    width: 100%;
                    margin-bottom: 48px;
                    cursor: pointer;
                    border-radius: 8px;
                    position: relative;
                    overflow: hidden;
        
                    span{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background: rgba(0, 0, 0, 0.56);
                        color: var(--darkWhite);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 1.5rem;
                        font-weight: 500;
                        z-index: 1;
                    }
        
                    img{
                        width: 100%;
                        height: auto;
                    }
        
                    &:hover{
                        opacity: 0.9;
                    }
                }
            }

            .termsUL{
                width: 100%;

                #hostLiTermsUL{
                    list-style: none;
                    font-size: 1.1rem;
                    font-weight: 500;
                    color: var(--secondColorDark);
                    padding: 24px 0;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    border-bottom: 2px solid rgba(0, 0, 0, 0.077);

                    &:dir(ltr){
                        ul{
                            margin-right: unset;
                            margin-left: 40px;
                        }
    
                        svg{
                            margin-left: unset;
                            margin-right: 8px;
                        }
    
                        h3{
                            margin-left: unset;
                            margin-right: auto;
                        }
                    }
                    
                    ul{
                        width: 100%;
                        list-style: disc;
                        margin-right: 32px;
                        margin-top: 24px;

                        li{
                            border: none;
                            padding: 0;
                            font-weight: 400;
                            font-size: 1rem;
                            margin-bottom: 4px;
                        }
                    }

                    h3{
                        font-size: 1.1rem;
                        margin-left: auto;
                    }

                    svg{
                        width: 24px;
                        height: 24px;
                        opacity: 0.5;
                        margin-left: 8px;
                        fill: var(--secondColorDark);
                        stroke: var(--secondColorDark);

                        path{
                            fill: var(--secondColorDark);
                            stroke: var(--secondColorDark);
                        }
                    }
                }
            }

            .accompany-h3{
                margin: 20px 32px 8px 32px;
            }

            .accompany-p{
                width: 100%;
                margin: 0 40px 0 40px;
            }
        }

        #checkoutDetailsH2{
            font-size: 1.8rem;
            font-weight: 500;
            margin-bottom: 24px;
            color: var(--secondColorDark);
            margin-top: 48px;
            display: none;
        }
    }

    .mobileBookAndImages{
        position: fixed;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        height: fit-content;
        z-index: 22;
        bottom: 0;
    
        .mobileBookBtn{
            height: fit-content;
            margin-top: auto;
            background: var(--darkWhite);
            padding: 16px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            gap: 8px;
            z-index: 1;
            
            button{
                width: fit-content;
                padding: 12px 32px;
                font-size: 0.9rem;
                margin: 0;
            }
    
            div{
                color: grey;
                font-size: 0.9rem;
                font-weight: 300;
    
                &:dir(ltr){
                    #original-price, #old-price, #discounted-price{
                        margin-left: unset;
                        margin-right: 6px;
                    }
                }
    
                #original-price{
                    margin-left: 6px;
                    color: var(--secondColorHover);
                    font-weight: 600;
                }
    
                #old-price{
                    text-decoration: line-through;
                    color: rgb(173, 173, 173);
                    font-weight: 400;
                    margin-left: 6px;
                }
    
                #discounted-price{
                    color: var(--secondColorHover);
                    font-weight: 600;
                    margin-left: 6px;
                }
            }
    
        }
    }

    .checkout{
        width: 450px;
        height: fit-content;
        border-radius: 12px;
        border: 2px solid rgb(197, 197, 197);
        padding: 16px;
        position: relative;

        &:dir(ltr){
            .calenderPopup{
                left: unset;
                right: 110%;
            }
            .cancellationDiv{
                svg{
                    margin-left: unset;
                    margin-right: 6px;
                }
            }
        }

        .calenderPopup{
            top: 64px;
            left: 110%;
            z-index: 2;
        }

        .nightsDiv{
            width: 100%;
            cursor: pointer;
            position: relative;
            margin-bottom: 24px;
            border-bottom: 2px solid rgba(0, 0, 0, 0.147);

            #res-type{
                font-size: 1rem;
                color: rgb(88, 88, 88);
                font-weight: 400;
                margin-bottom: 8px;
            }

            h3{
                font-weight: 500;
                font-size: 1.1rem;
                margin-bottom: 4px;
                display: flex;
                align-items: center;

                &:dir(ltr){
                }

                span{
                    color: grey;
                    font-weight: 400;
                    margin: 0 8px;
                    font-size: 0.9rem;
                }
            }

            .addCity{
                top: 110%;
                left: 0;
                position: absolute;
                right: unset;
                width: 100%;
                height: fit-content;
                max-height: 320px;
                z-index: 200;
                padding: 0;
                border-radius: 8px;
                background: white;
                gap: 0;

                ul{
                    gap: 0;
                    margin: 0;

                    li{
                        padding: 12px 12px;
                        margin: 0;
                    }
                }


            }
        }

        .bookingDate{
            margin-bottom: 24px;
            color: grey;
            cursor: pointer;

            h3{
                color: var(--secondColorDark);
                margin-top: 4px;
                font-weight: 500;
            }
        }

        .cost{
            width: 100%;

            h3{
                font-weight: 400;
                font-size: 1rem;
                color: grey;
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-bottom: 24px;

                span{
                    color: var(--secondColorDark);
                    font-weight: 500;
                    font-size: 1.2rem;
                    margin-top: 4px;
                }
            }
        }

        .cancellationDiv{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            font-size: 1rem;

            h3{
                width: 100%;
                font-size: 1rem;
            }

            svg{
                width: 20px;
                height: 20px;
                margin-left: 6px;

                path{
                    fill: var(--secondColorDark);
                }
            }
        }

        .btnbackscndclr{
            font-size: 1.1rem;
            margin-top: 8px;
        }

        #info-p{
            color: var(--secondColor);
            font-size: 0.88rem;
        }
    }

    .mobile-checkout-popup-hidden{
        scale: 0;
        height: 0;
        transition: all 0.2s ease-in;
    }

    .mobile-checkout-popup{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100dvh;
        overflow-y: scroll;
        z-index: 25;
        border-radius: 0;
        border: none;
        background: white;
        -ms-overflow-style: none; 
        scrollbar-width: none;
        scale: 1;
        transition: all 0.2s ease-out;
    
        &::-webkit-scrollbar{
            display: none;
        }

        &:dir(ltr){
            .calenderPopup{
                right: unset;
                left: 32px;
            }
            #checkoutDetailsH2{
                margin-bottom: 24px;
                margin-top: 6px;
                width: 100%;
                text-align: center;
                padding-bottom: 24px;
                border-bottom: 2px solid rgba(0, 0, 0, 0.17);
            }
        }
        
        .calenderPopup{
            top: 32px;
            right: 32px;
            width: fit-content;
            max-width: 100%;
            z-index: 1;
        }

        #checkoutDetailsH2{
            margin-bottom: 24px;
            width: 100%;
            text-align: center;
            padding-bottom: 24px;
            border-bottom: 2px solid rgba(0, 0, 0, 0.17);
        }

        #close-checkout{
            position: absolute;
            top: 24px;
            left: 16px;
            background: var(--darkWhite);
            padding: 4px;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            cursor: pointer;

            &:hover{
                box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.155);
            }
        }
    }

    .rentIt{
        width: 100%;
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        align-items: left;
    
        h4{
            width: 100%;
            font-size: 1.5rem;
            font-weight: 300;
            margin-bottom: 16px;

            input{
                width: fit-content;
                background: #e9e9e9;
                border: none;
                color: black;
                padding: 8px;
                margin: 0 6px;
                border-radius: 4px;
                outline: none;
            }
        }

        button{
            width: 100%;
            background: var(--secondColor);
            color: white;
            padding: 12px 16px;
            border: none;
            border-radius: 4px;
            font-size: 1.2rem;
            cursor: pointer;
            transition: all 0.3s ease-out;
        }

        button:hover{
            background: var(--secondColorHover);
            transition: all 0.3s ease-in;
        }
    }

    #spanForClosingPopups{
        width: 100vw;
        height: 100%;
        min-height: 135vh;
        position: fixed;
        top: 0;
        left: calc(50% - 50vw);
        z-index: 1;
        background: rgba(0, 0, 0, 0.159);

        svg{
            margin: 12px 24px;
            width: 32px;
            height: 32px;
            padding: 4px;
            background: var(--darkWhite);
            border-radius: 50%;
            cursor: pointer;

            path{
                fill: grey;
            }
        }

        svg:hover{
            background: white;
        }
    }

    #unactive-btn{
        display: none;
    }

    #righticonspann{
        width: 8px;
        height: 20px;
        border-radius: 0;
        scale: 0.82;
        border-right: 2px solid var(--secondColor);
        border-bottom: 2px solid var(--secondColor);
        transform: rotate(45deg);
        scale: 0.6;
        display: block;

        &::after{
            width: 26px;
            height: 26px;
            border: 2px solid var(--secondColor);
            border-radius: 50%;
            content: '';
            position: absolute;
            top: -5px;
            left: -10px;
            scale: 1.1;
        }
    }

    .editDiv{
        width: fit-content;
        display: flex;
        align-items: center;
        padding: 12px 16px;
        border: 2px solid rgba(0, 0, 0, 0.129);
        border-radius: 8px;
        font-size: 1rem;
        background: rgba(235, 235, 235, 0.564);
        cursor: pointer;
        text-decoration: none;
        color: black;

        svg{
            width: 24px;
            height: 24px;
            margin-right: 2px;
        }
    }

    .status{
        font-size: 1rem;
        font-weight: 500;
        color: rgb(97, 97, 97);
        margin-bottom: 24px;

        span{
            font-size: 1.1rem;
            color: black;
            text-decoration: underline;
            margin: 0 4px;
        }
    }

    button, input{
        font-family: inherit;
    }

    .editDiv:hover{
        background: rgba(0, 0, 0, 0.126);
    }

    .btnbackscndclr{
        width: 100%;
        padding: 12px 24px;
        background: var(--secondColor);
        color: white;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 500;
        transition: all 0.2s ease-out;
    }

    .btnbackscndclr:hover{
        background: var(--secondColorHover);
        transition: all 0.2s ease-in;
    }

    .delete-file{
        position: absolute;
        top: 24px;
        right: 24px;
        background: var(--softRed);
        padding: 12px;
        color: white;
        font-weight: 500;
        border-radius: 4px;
        display: flex;
        align-items: center;
        z-index: 1;
        cursor: pointer;

        svg{
            margin-right: 8px;
            path{
                fill: white;
            }
        }
    }

    .delete-file:hover{
        background: rgb(255, 75, 75);
    }

    #disable-button{
        background: var(--darkWhite);
        color: rgb(172, 172, 172);
        cursor: default;
    }

    #error{
        color: var(--softRed);
        font-size: 0.9rem;
        margin-bottom: 8px;
        display: flex;
        align-items: center;

        svg{
            width: 12px;
            height: 12px;
            margin-left: 4px;

            &:dir(ltr){
                margin-right: 4px;
                margin-left: 0;
            }
            path{
                fill: var(--softRed);
            }
        }
    }

    #success{
        color: var(--secondColor);
        font-size: 0.9rem;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 1160px){
    .view{
        margin-top: var(--headerHeightMobile);
        .intro{
            margin-top: 24px;
        }
        .aboutItem{
            .details{
                .specificationsUL{
                    li{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 960px){
    .view{
        margin-top: 0;
        z-index: 21;
        padding: 0;
        
        .intro{
            flex-direction: column-reverse;
            width: 100vw;
            margin: 0;
            padding: 0;

            .iamgesViewDiv{
                margin: 0;
                height: 324px;
                z-index: -1;
                .delete-file{
                    svg{
                        margin-right: 0;
                        margin-left: 6px;
                    }
                }
        
                .btns{
                    display: none;
                }
        
                .imagesDiv{
                    height: 100%;
                    border-radius: 0;
                    padding: 0;
                    margin: 0;
    
                    .arrow{
                        display: none;
                    }

                    .dots{
                        margin-bottom: 54px;

                        #selectedDot{
                            background: rgba(255, 255, 255, 0.95);
                            width: 8px;
                        }
                    }
                    .full-screen-svg-div{
                        display: none;
                    }
                    #wishlistDiv{
                        display: block;
                    }
                }
            }

            #wishlistDiv{
                display: flex;
            }
        }

        .itemIntro{
            margin-top: 24px;

            ul{
                flex-direction: column;
                margin-top: 8px;

                &:dir(ltr){
                    li{
                        margin-bottom: 4px;
                    }
                }

                li{
                    font-size: 0.92rem;
                    color: grey;

                    svg{
                        margin-left: 10px;
                        path{
                            fill: grey;
                            stroke: grey;
                        }
                    }
                }

                #giveThisMarginRight{
                    margin-right: unset;
                }
            }

            &:dir(ltr){
                ul{
                    li svg{
                        margin-left: 0;
                        margin-right: 10px;
                    }
                    #giveThisMarginRight{
                        margin-right: 0;
                        margin-left: 0;
                    }
                }
            }

            h1{
                font-size: 1.2rem;
                #mobile-unit-span{
                    display: block;
                }
                #desktop-unit-span{
                    display: none;
                }
            }
        }
        
        .dicount-sticker{
            &:dir(ltr){
                left: unset;
                right: 24px;
            }
            top: 48px;
            left: 24px;
        }

        .mobileIntro{
            display: block;
            position: relative;
        }

        .desktopIntro{
            display: none;
        }

        .aboutItem{
            width: 100vw;
            background: white;
            flex-direction: column;
            margin-top: -52px;
            border-top-left-radius: 32px;
            border-top-right-radius: 32px;
            padding: 16px 24px 12px 24px;

            #checkoutDetailsH2{
                display: block;
                margin: 0;
                margin-bottom: 16px;
            }

            .checkout{
                width: 100%;
                margin-top: 16px;

                &:dir(ltr){
                    .calenderPopup{
                        left: 16px;
                        right: unset;
                    }
                }

                .calenderPopup{
                    right: 16px;
                    top: -78px;
                    width: fit-content;
                }

                #checkoutDetailsH2{
                    font-size: 1.1rem;
                    font-weight: 600;
                }

                h3, div{
                    font-size: 0.9rem;
                }
            }

            .details{
                margin-top: 0;
                .tabButtons{
                    margin-top: 0;
                    border: none;
                    li{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: fit-content;
                        border-radius: 4px;
                    }
                    li:hover{
                        color: unset;
                        background: var(--darkWhite);
                    }
                    .selectedTab{
                        background: unset;
                        border-bottom: 2px solid var(--secondColor);
                        color: unset;
                    }
    
                    .selectedTab:hover{
                        border-bottom: 2px solid var(--secondColor);
                        color: unset;
                        background: var(--darkWhite);
                    }
                }
                .itemIntro{
                    margin-bottom: 24px;
                }
                .mobileTabButtons{
                    display: flex;
                }
                .specificationsUL{
                    li{
                        cursor: pointer;
                        padding: 12px 0;
                        border: none;

                        ul li, p{
                            font-size: 0.85rem;
                        }
                        h3:nth-of-type(2){
                            font-size: 0.9rem;
                            margin-top: 0;
                        }
                    }
                }
                .termsUL, .specificationsUL, .termsUL, .reviews {
                    li h3, #hostLiTermsUL h3{
                        font-size: 0.95rem;
                    }
                    #hostLiTermsUL ul li{
                        font-size: 0.85rem;
                    }
                }
                .mapDiv{
                    .addressMapDiv {
                        h3 {
                            font-size: 1rem;
                            font-weight: 500;
                        }
                        img{
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
                h2{
                    font-size: 1rem;

                    &:dir(ltr){
                        button{
                            margin-right: unset;
                            margin-left: auto;
                        }
                    }

                    span{
                        width: 100%;
                        display: flex;
                        align-items: center;
                    }
                    button{
                        margin-right: auto;
                        padding: 6px 10px;
                        font-size: 0.7rem;
                        border: none;
                        border-radius: 8px;
                        cursor: pointer;
                        transition: all 0.2s ease-out;

                        &:hover{
                            background: rgb(215, 215, 215);
                            transition: all 0.2s ease-in;
                        }
                    }
                }
            }
        }
        .mobile-checkout-popup{
            display: block;
            .calenderPopup{
                max-width: fit-content;
            }
        }
        .mobileBookBtn{
            display: flex;
            z-index: 25;
        }
        .checkout{
            &:dir(ltr){
                .calenderPopup{
                    left: 0;
                    left: unset;
                }
            }
            .calenderPopup{
                position: fixed;
                top: 0;
                left: 0;
                margin-top: 138px;
                width: 100%;

                .mycalender-div{
                    height: fit-content;
                }
            }
        }

        .rejection-div{
            display: none;
        }
    }
}

@media screen and (max-width: 680px){
    .view{
        .aboutItem .details .tabButtons{
            font-size: 0.9rem;
        }
        .view-admin-section{
            ul{
                flex-wrap: wrap;
                row-gap: 16px;
                li{
                    padding: 8px 12px;
                    white-space: nowrap;
                    flex: 1;
                    max-width: 50%;
                }
            }
        }
        .reviews-layout{
            flex-direction: column;
            .charts{
                gap: 0;
            }
        }
    }
}

@media screen and (max-width: 480px){
    .view{
        .intro{
            #open-images-loader{
                height: 220px;
            }
            .iamgesViewDiv{
                margin-top: -8px;
                height: 280px;
                
                .swiper-images-show .swiper-wrapper .swiper-slide{
                    scale: 1 1.5;
                }

            }
        }
        .aboutItem .details .tabButtons{
            font-size: 0.8rem;
        }
        .mobileBookBtn{
            button{
                margin-bottom: 8px;
            }
        }
        .checkout{
            .calenderPopup{
                max-width: 90%;
            }
        }
        .mobile-checkout-popup{
            &:dir(ltr){
                .calenderPopup{
                    right: unset;
                    left: 5%;
                }
            }
            .calenderPopup{
                max-width: 90%;   
                top: 20%;
                right: 5%;
                left: unset;
            }
        }
    }
}

@media screen and (max-width: 320px){
    .view{
        .aboutItem .details .tabButtons{
            border-radius: 24px;
            padding: 8px;
            flex-wrap: wrap;
        }
    }
}