.SignUp{
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    padding: 24px;
    margin-top: var(--headerHeight);

    .formDiv{
        width: 100%;
        max-width: 680px;
        padding: 32px;
        border-radius: 4px;
        border: 2px solid var(--secondColor);

        h1{
            margin-bottom: 40px;
            color: var(--secondColor);
        }

        form{
            width: 100%;
            display: flex;
            flex-direction: column;

            .policies{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                height: fit-content;
                align-items: center;
                margin-bottom: 32px;

                input[type=checkbox]{
                    width: fit-content;
                    height: fit-content;
                    margin-left: 8px;
                    cursor: pointer;
                    accent-color: var(--secondColor);

                    &:dir(ltr){
                        margin-left: 0;
                        margin-right: 8px;
                    }
                }

                p{
                    color: grey;
                }
    
                a{
                    color: var(--secondColorHover);
                    cursor: pointer;
                    margin: 0 8px;
                    word-break: break-all;
                    text-decoration: none;
                }
            }
        }

        .selectKind{
            width: 100%;
            margin-bottom: 48px;
            margin-top: 0;

            &:dir(ltr){
                margin-bottom: 32px;
            }

            h3{
                margin-bottom: 12px;
                font-size: 1.1rem;
                color: var(--secondColor);
            }

            select{
                width: 100%;
                padding: 8px;
                background: var(--secondColor);
                color: white;
                font-size: 1rem;
                border-radius: 2px;
                cursor: pointer;
                outline: none;
                border: none;
            }
        }

        .check-for-valid-username-div{
            margin-top: 12px;
            margin-bottom: 40px;
            font-size: 0.85rem;
        }

        button{
            width: 100%;
            padding: 16px;
            background: var(--secondColor);
            border: none;
            color: white;
            border-radius: 4px;
            font-size: 1.2rem;
            font-weight: 500;
            cursor: pointer;
            transition: all 0.3s ease-out;
        }

        button:hover{
            transition: all 0.3s ease-in;
            background: var(--secondColorHover);
        }

        strong{
            font-size: 1.3rem;
            color: grey;
            font-weight: 400;
            width: 100%;
            display: block;
            margin: 32px 0;
            text-align: center;
        }

        #forget-password{
            width: fit-content;
            margin-top: -40px;
            font-size: 0.9rem;
            font-weight: 400;
            color: var(--secondColor);
            margin-bottom: 32px;
            text-decoration: none;
            cursor: pointer;
        }

        #forget-password:hover{
            color: var(--secondColorHover);
        }

        #navigate-to-sign{
            text-decoration: none;
            color: var(--secondColor);
            width: 100%;
            display: block;
            text-align: center;
            font-size: 1.3rem;
            font-weight: 500;
            transition: all 0.2s ease-in;
        }

        #navigate-to-sign:hover{
            color: var(--secondColorHover);
            transition: all 0.2s ease-in;
        }
    }

    #error, #success{
        width: 100%;
        color: rgb(255, 74, 96);
        padding: 12px;
        font-size: 0.9rem;
        background: var(--darkWhite);
        margin-bottom: 16px;
    }

    #success{
        color: var(--secondColor);
        display: flex;
        width: 100%;
        justify-content: space-between;

        a{
            width: fit-content;
            font-size: 1rem;
            color: var(--secondColorHover);
        }
    }

    hr{
       margin: 40px 0 52px 0;
       border-color: rgba(0, 0, 0, 0.142); 
    }

    #p-info{
        color: var(--secondColor);
        font-size: 0.9rem;
        margin-top: 6px;
    }

    #p-info-error{
        color: var(--softRed);
        font-size: 0.9rem;
        margin-top: 6px;
    }
    
    button{
        font-family: inherit;
    }
}

@media screen and (max-width: 680px){
    .SignUp{
        align-items: start;
        min-height: unset;
        padding: 12px;

        .formDiv{
            padding: 12px;
        }
    }
}