.footer{
    width: 100%;
    max-width: 1300px;
    padding: 64px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    background: white;

    .topOfFooter{
        width: 100%;
        display: flex;
        gap: 32px;

        &:dir(ltr){
            .logo{
                margin-left: unset;
                margin-right: auto;
            }
        }

        .logo{
            margin-left: auto;
            cursor: pointer;

            img{
                width: 160px;
                height: auto;
            }
        }

        ul{
            list-style: none;

            li{ 
                margin-bottom: 12px;
                cursor: pointer;
                padding: 6px;
                margin: 0;
                color: rgb(72, 72, 72);

                a{
                    color: inherit;
                    text-decoration: none;
                }
            }

            li:hover{
                text-decoration: underline;
            }
        }
    }

    hr{
        width: 100%;
        margin: 48px 0;
        opacity: 0.5;
    }

    .bottomOfFooter{
        width: 100%;
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;

        &:dir(ltr){
            ul{
                margin-right: unset;
                margin-left: 16px;
            } 
            h4::after{
                left: unset;
                right: -16px;
            }
        }

        h4{
            font-weight: 400;
            font-size: 0.9rem;
            color: grey;
            position: relative;

            &::after{
                content: '©';
                position: absolute;
                top: 2px;
                left: -16px;
                scale: 1.5;
            }
        }

        ul{
            display: flex;
            gap: 24px;
            list-style: none;
            margin-right: 16px;
            margin-bottom: 24px;

            li{
                padding: 6px 10px;
                border-radius: 6px;
                background: var(--secondColor);

                svg{
                    width: 32px;
                    height: 32px;
                    transform: translateY(4px);
                }
            }
        }
    }

    .attribute{
        width: 100%;

        h4{
            font-size: 0.7rem;
            color: rgba(112, 112, 112, 0.715);
            font-weight: 400;
            margin-right: 16px;

            a{
                color: var(--secondColorHover);
                text-decoration: none;
            }
        }
    }
}

@media screen and (max-width: 480px){
    .footer{
        padding: 12px 12px 96px 12px;
        .topOfFooter{
            flex-direction: column;
            gap: 24px;
        }
        hr{
            margin: 24px 0;
        }
        .bottomOfFooter{
            flex-direction: column;
            gap: 24px;
            &:dir(ltr){
                ul {
                    padding: 0;
                    margin: 0 0 24px 0; 
                    li{
                        margin-right: 0;
                        margin-left: 0;
                    }
                }
                h4{
                    margin-left: 0;
                }
            }    
            h4{
                font-size: 1rem;
            }
            ul{
                padding: 0;
                margin: 0 0 24px 0;
                flex-wrap: wrap;
                li{
                    margin-right: 0;
                    margin-left: 0px;
                }
            }
        }
    }
}