

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 16px 16px 16px;
    max-width: 1300px;
    height: fit-content;
    align-items: center;
    position: relative;
    z-index: 10;

    .desktopWrapper{
        width: 100%;
        max-width: 1300px;
        display: flex;
        align-items: center;
        position: fixed;
        padding: 12px 0;
        z-index: 11;
    
        .navBtn{
            width: fit-content;
            padding: 4px 2px;
            height: fit-content;
            cursor: pointer;
            border: none;
            font-size: 1rem;
            text-decoration: none;
            color: rgb(56, 56, 56);
            margin-left: 24px;
            transition: all 0.3s ease-out;
        }

        .navBtn:hover{
            color: var(--secondColorHover);
            transition: all 0.3s ease-in;
        }
    
        .properities{
            margin-right: 12px;
        }

        &::after{
            position: absolute;
            content: '';
            width: 100vw;
            height: 100%;
            top: 0;
            left: calc(50% - 50vw);
            background: white;
            z-index: -1;
        }
    }

    .headerSearchDiv{
        width: 100%;
        padding: 16px;
        margin-top: 60px;
        position: absolute;
        z-index: 20;
        top: 100%;

        &::before{
            position: absolute;
            content: '';
            width: calc((100vw - 100%) / 2);
            height: 50%;
            top: 1px;
            left: calc((100vw - 100%) / 2 * -1);
            background: white;
            z-index: -1;
        }

        &::after{
            position: absolute;
            content: '';
            width: calc((100vw - 100%) / 2);
            height: 50%;
            top: 1px;
            right: calc(((100vw - 100%) / 2) * -1);
            background: white;
            z-index: -1;
        }
    }

    .searchDiv{
        width: 100%;
        max-width: 1300px;
        border-radius: 50px;
        padding: 8px;
        border: 2px solid rgb(235, 235, 235);
        background: white;

        ul{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            padding-right: 64px;

            li{
                position: relative;
                width: 100%;

                &:dir(rtl){
                    max-height: 44px;

                    h4{
                        font-size: 0.8rem;
                        margin-bottom: 0;
                    }

                    h3{
                        
                    margin-top: -4px;
                    }
                }

                h4{
                    font-weight: 400;
                    font-size: 0.9rem;
                    color: grey;
                    margin-bottom: 4px;
                }

                h3{
                    color: var(--secondColor);
                    background: transparent;
                    border: none;
                    font-size: 1rem;
                    font-weight: 700;
                    cursor: pointer;
                }
            }

            .header-search-btn{
                width: fit-content;
                padding: 8px;
                width: 44px;
                min-width: 44px;
                max-width: 44px;
                height: 44px;
                border-radius: 50px;
                background: var(--secondColor);
                cursor: pointer;

                a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                }

                svg{
                    path{
                        fill: white;
                    }
                }
            }

            .header-search-btn:hover{
                background: var(--secondColorHover);
            }

            .mobileSearchDivLI{
                display: none;   

                &:dir(ltr){
                    svg{
                        margin-left: 0;
                        margin-right: 16px;
                        transform: rotateY(180deg);
                    }
                }
            }

            #searchSvg{
                width: 64px;
                height: 64px;
                background: var(--thirdColor);
                padding: 16px;
                border-radius: 50%;
                cursor: pointer;

                svg{
                    width: 100%;
                    height: 100%;

                    path{
                        fill: white;
                    }
                }
            }

            &::before{
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                border-bottom-right-radius: 50px;
                border-bottom-left-radius: 50px;
                background: white;
                z-index: -1;
            }
        }

        .cityPopup ul, .catagoryPopup ul{
            padding: 0;
        }

        #invertedIconDivLeft, #invertedIconDivRight{
            position: absolute;
            top: 50%;
            left: -18px;
            width: 24px;
            height: 24px;

            img{
                width: 24px;
                height: 24px;
            }
        }

        #invertedIconDivRight{
            left: unset;
            right: -18px;

            img{
                transform: scale(-1, 1);
            }
        }

        
    }

    .scrolledSearhDiv{
        z-index: 11;
        margin-top: 100px;
        padding: 16px 8px 16px 0;

        &:dir(ltr){
            padding: 16px 0 16px 8px;
        }

        .searchDiv{
            padding: 0;
            margin-bottom: 32px;

            #invertedIconDivRight, #invertedIconDivLeft{
                display: none;
            }
        
            ul{
                &::before{
                    display: none;
                }
            }
        }

        &::after{
            display: none;
        }

        &::before{
            display: none;
        }
    }

    .headerSearchOtherDiv{
        width: 100%;
        top: 100%;
        display: flex;
        padding: 16px 0 32px 0;
        margin-top: 68px;
        background: white;
        position: relative;

        .headerNavUL{
            display: flex;
            align-items: center;
            list-style: none;
            width: 100%;
            border: 2px solid var(--darkWhite);
            border-radius: 12px;
            margin-left: 16px;
            padding: 0 12px;

            .headerNavLi{
                width: 100%;
                height: 100%;
                cursor: pointer;
                margin-right: 32px;
                border-left: 2px solid var(--darkWhite);
                position: relative;

                h4{
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-weight: 400;
                    color: rgb(81, 81, 81);
                    font-size: 1.1rem;
                }
            }

            #searchLiHeaderOther{
                width: fit-content;
                margin: 0;
                display: flex;
                height: 100%;
                align-items: center;
                cursor: default;
                border: none;

                svg{
                    width: 16px;
                    height: 16px;
                }
            }
        }

        .showMap{
            display: flex;
            align-items: center;
            padding: 12px 16px;
            white-space: nowrap;
            background: var(--darkWhite);
            border-radius: 12px;
            font-weight: 500;
            cursor: pointer;
            text-decoration: none;
            color: black;
            transition: all 0.2s ease-in;

            svg{
                margin-left: 8px;
            }
        }

        .showMap:hover{
            background: var(--darkWhiteHover);
            transition: all 0.1s ease-in;
        }

        &::before{
            position: absolute;
            content: '';
            width: 100vw;
            height: 8px;
            background: transparent;
            bottom: 0;
            left: calc(50% - 50vw);
            box-shadow: 1px 2px 24px rgba(82, 82, 82, 0.275);
            z-index: -2;
        }

        &::after{
            position: absolute;
            content: '';
            width: 100vw;
            height: 100%;
            background: white;
            bottom: 0;
            left: calc(50% - 50vw);
            z-index: -1;
        }
    }

    .mobileHeader{
        width: 100%;
        display: none;
        align-items: center;
        height: 100%;
        justify-content: space-between;
        margin: 0;

        #menu-active-background{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: white;
            display: block;
            box-shadow: 1px 1px 24px rgba(0, 0, 0, 0.267);
            z-index: 13;
        }

        .menuIconDiv{
            width: 20px;
            height: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
            cursor: pointer;
            position: relative;
            z-index: 10;
            
            transition: all 0.2s ease-out;
    
            span{
                width: 20px;
                height: 2px;
                display: block;
                background: var(--secondColor);
                border-radius: 2px;
            }

            &::after{
                content: '';
                position: absolute;
                top: -15px;
                left: -15px;
                border-radius: 50px;
                width: 52px;
                height: 52px;
                z-index: -1;
            }
        }

        .menuIconDiv:hover::after{
                background: rgba(0, 0, 0, 0.055);
            }
        

        .activeMenu{
            transform: translateY(2px);
            &:after{
                transform: translateY(-3px);
            }
        }
    
        .mobileSideNav{
            position: fixed;
            width: 100%;
            height: fit-content;
            max-height: calc(100vh - var(--headerHeightMobile));
            top: var(--headerHeightMobile);
            left: 0;
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            background: white;
            padding: 0 24px;
            z-index: 12;

            hr{
                margin: 32px 0;
                border-width: 1px;
                border-color: rgba(0, 0, 0, 0.068);
            }
    
            .sideNavUL{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                list-style: none;
                padding-top: 32px;
        
                a{
                    color: rgb(70, 70, 70);
                    text-decoration: none;
                    font-size: 1rem;
                    padding: 12px 16px;
                    display: flex;
                    align-items: center;
                    transition: all 0.2s ease-out;

                    svg{
                        margin-left: 24px;
                        width: 32px;
                        height: 32px;
                        
                        path{
                            fill: var(--secondColorHover);
                        }

                        &:dir(ltr){
                            margin-left: 0;
                            margin-right: 16px;
                        }
                    }
                }

                a:hover{
                    background: var(--darkWhite);
                    transition: all 0.2s ease-in;
                }

                .user{
                    width: 100%;
                    max-width: unset;

                    a{
                        border-radius: 0;
                    }
                }

                .addItemHeaderDiv{
                    margin: 24px auto 12px auto;
                    width: fit-content;
                }

                .admin-header-button{
                    margin: 0;
                }

                .nav-bottom{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 24px;
                    
                    .lang{
                        margin: 0;
                        font-size: 1rem;
    
                        a{
                            padding: 0;
                            color: black;
                            text-decoration: underline;
                        }
                    }
    
                    ul{
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        list-style: none;

                        li{
                            margin: 0;

                            a{
                                padding: 12px;
                                margin: 0;

                                svg{
                                    margin: 0;
                                }
                            }

                            .adjust-svg{
                                transform: translateY(-2px);
                            }
                        }
                    }
                }
            }
    
            &::-webkit-scrollbar{
                display: none;
            }
        }
    }

    #closeFilterPopupSpan{
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: calc(50% - 50vw);
        z-index: 19;
    }

    .cityPopup, .catagoryPopup, .calenderPopup{
        z-index: 30;
    }

    .filterHeaderDiv{
        background: var(--secondColor);
        position: absolute;
        top: 90vh;
        border-radius: 50px;
        display: flex;
        align-items: center;
        color: white;

        button{
            background: var(--secondColor);
            padding: 12px;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            border: none;
            color: white;
            font-weight: 500;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: all 0.1s ease-in;
        }

        #secondFilterHeaderDivBtn{
            border-top-right-radius: unset;
            border-bottom-right-radius: unset;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
        }

        button:hover{
            background: var(--secondColorHover);
            transition: all 0.1s ease-in;
        }

        svg{
            width: 20px;
            height: 20px;
            margin-left: 8px;
            
            path{
                stroke: white;
                fill: white;
            }
        }

        span{
            height: 24px;
            width: 1px;
            background: white;
        }
    }

    .logo{
        width: 160px;
        min-width: 140px;
        height: 54px;
        margin-left: 44px;

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .selectedRouter{
        position: relative;

        &::after{
            position: absolute;
            content: '';
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background: var(--secondColor);
        }
    }

    .lang{
        padding: 8px 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 4px;
        max-height: 52px;
        margin-right: 16px;
        text-decoration: none;
        transition: all 0.2s ease-out;
        
        h5{
            font-weight: 400;
            font-size: 0.9rem;
            color: rgba(130, 130, 130, 0.804);
            white-space: nowrap;
        }

        p{
            text-decoration: underline;
            font-size: 1.1rem;
            color: rgb(59, 59, 59);
        }
    }

    .lang:hover{
        background: var(--darkWhite);
        transition: all 0.2s ease-in;
    }

    .addItemHeaderDiv{
        white-space: nowrap;
        margin-right: auto;
        margin-left: 16px;
        border-radius: 8px;
        padding: 12px 16px;
        background: white;
        text-decoration: none;
        color: black;
        font-weight: 500;
        border: 2px solid rgba(0, 0, 0, 0.184);
        margin-right: 24px;
        transition: all 0.2s ease-out;
    
        &:dir(ltr){
            margin-right: 16px;
            margin-left: 24px;
        }
    }

    .addItemHeaderDiv:hover{
        background: var(--darkWhite);
        transition: all 0.2s ease-in;
    }

    .mobileSearchDiv{
        width: 100%;

        div{
            text-decoration: none;        
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 32px;
            font-size: 10vw;
            padding: 12px;
            cursor: pointer;

            svg{
                margin-left: 16px;
                width: 20px;
                height: 20px;
    
                path{
                    stroke: var(--secondColorDark);
                }
            }
    
            p{
                font-size: 1rem;
                font-weight: 500;
                white-space: nowrap;
                color: var(--secondColorDark);
            }
        }
    }

    .user{
        max-width: 150px;
        position: relative;

        #notif-span{
            position: absolute;
            background: red;
            color: white;
            border-radius: 50%;
            width: 16px;
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.65rem;
            top: -4px;
            right: -4px;

            &:dir(ltr){
                right: unset;
                left: -4px;
            }
        }

        a{
            padding: 8px 12px;
            display: flex;
            align-items: center;
            cursor: pointer;
            border-radius: 12px;
            color: rgb(71, 71, 71);
            background: var(--darkWhite);
            transition: all 0.3s ease-out;
            text-decoration: none;

            .profileSvg{
                width: 28px;
                height: 28px;
                margin-left: 12px;
                border: 2px solid black;
                border-radius: 50%;
    
                svg{
                    fill: black;
                }
            }
    
            .arrowSvg{
                margin-right: 12px;
                transform: translateY(3px);
    
                svg{
                    width: 16px;
                    height: 16px;
                }
            }
    
            p{
                color: black;
                max-width: 100%;
                overflow: hidden;
                -ms-text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-weight: 500;
            }
        }

        &:dir(ltr){
            margin-right: 16px;
        }
    }

    .user:hover{

        a{
            background: var(--darkWhiteHover);
            border-color: rgb(207, 207, 207);
            transition: all 0.3s ease-in;
        }
    }

    .admin-header-button{
        margin-right: 8px;

        p{
            white-space: nowrap;
        }

        svg{
            margin-left: 12px;
        }

        &:dir(ltr){
            margin-right: 0;

            svg{
                margin-left: 0;
                margin-right: 12px;
            }
        }
    }

    .ripple-button {
        border-radius: 4px;
        border: none;
        margin: 8px;
        padding: 14px 24px;
        background: #1976d2;
        color: #fff;
        overflow: hidden;
        position: relative;
        cursor: pointer;
    }
    
    .ripple-button > .ripple {
    width: 20px;
    height: 20px;
    position: absolute;
    background: #63a4ff;
    display: block;
    content: "";
    border-radius: 9999px;
    opacity: 1;
    animation: 0.9s ease 1 forwards ripple-effect;
    }
}

.englishHeader{
    
    .logo{
        margin-left: 0;
        margin-right: 24px;
        transform: translateY(-8px);
    }
    .user{
        a{
            .profileSvg{
                margin-left: 0;
                margin-right: 12px;
            }
    
            .arrowSvg{
                margin-right: 0;
                margin-left: 12px;
            }
        }
    }
    .lang{
        margin-right: 0;
        margin-left: 16px;
    }
    .searchDiv{
        ul{
            padding-right: 0;
            padding-left: 64px;
        }
    }
    .filterHeaderDiv{
        button{
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        #secondFilterHeaderDivBtn{
            border-top-left-radius: unset;
            border-bottom-left-radius: unset;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            padding-right: 16px;
        }
        svg{
            margin-left: 0;
            margin-right: 8px;
        }
    }
    .headerSearchOtherDiv{

        .headerNavUL{
            margin-left: 0;
            margin-right: 16px;

            .headerNavLi{
                margin-right: 0;
                margin-left: 32px;
                border-left: none;
                border-right: 2px solid var(--darkWhite);
            }
        }

        .showMap{
            svg{
                margin-left: 0;
                margin-right: 8px;
            }
        }

        &::before{
            right: calc(50% - 50vw);
            left: unset;
        }

        &::after{
            right: calc(50% - 50vw);
            left: unset;
        }
    }
    .catagoryPopup{
        right: -32px;
        left: unset;

        h3, svg{
            margin-left: 0;
        }
        h3{
            margin-right: auto;
        }
    }
    .desktopWrapper{
        gap: 0;

        .navBtn{
            margin-left: 0;
            margin-right: 16px;
            font-size: 0.96rem;
        }
    }
}

#span1Active{ transform: rotateZ(45deg) translateY(3px) translateX(3px); transition: all 0.2s ease-in-out; }
#span1NotActive{ transform: rotateZ(0) translateY(0); transition: all 0.2s ease-out; }
#span2Active{ opacity: 1; transition: all 0.2s ease-in-out; }
#span2NotActive{ opacity: 0; transition: all 0.2s ease-out; }
#span3Active{ transform: rotateZ(-45deg) translateY(-7px) translateX(7px); transition: all 0.2s ease-in-out; }
#span3NotActive{ transform: rotateZ(0) translateY(0); transition: all 0.2s ease-out; }
#sideNavActive{ top: var(--headerHeightMobile); scale: 1; transition: all 0.4s cubic-bezier(0, 0.65, 0.4, 1); }
#sideNavNotActive{ top: -100%; scale: 1.1; transition: all 0s cubic-bezier(0.075, 0.82, 0.165, 1); }

@keyframes ripple-effect {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    30% {
        transform: scale(15);
        opacity: 0.375;
    }
    100% {
        transform: scale(50);
        opacity: 0;
    }
}

@media screen and (max-width: 1200px){
    .header, .englishHeader{
        .desktopWrapper{
            .navBtn{
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: 1160px){
    .header{
        width: 100vw;
        background: white;
        padding: 16px 12px;
        margin: 0;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.268);
        
        .desktopWrapper{
            display: none;
        }

        .headerSearchDiv{
            margin-top: -1px;
            width: 80%;
        }

        .searchDiv{
            cursor: pointer;
            ul{
                padding: 0;

                .header-search-btn{
                    display: none;
                }

                .desktopSearchDivLI{
                    display: none;
                }

                .mobileSearchDivLI{
                    display: flex;
                    position: relative;
                    justify-content: center;  
                    overflow: hidden;
                    outline: none;
                    
                    p{
                        font-size: 0.9rem;
                        font-weight: 600;
                    }
                }
            }
        }

        .mobile-searcj-div-scrolled{
            background: var(--darkWhite);
            overflow: hidden;
            border-radius: 50px;
        }

        .search-div-scrolled{
            border: none;
        }

        .headerSearchOtherDiv{
            display: none;
        }

        .mobileHeader{
            display: flex;
            padding: 0 12px;
        }

        .lang{
            width: fit-content;
        }

        .user{
            position: relative;

            #notif-span{
                width: 14px;
                height: 14px;
                font-size: 0.5rem;
                top: 6px;
                right: 6px;
                z-index: 121;

                &:dir(ltr){
                    right: unset;
                    left: 6px;
                }
            }

            a{
                background: transparent;
                
                p{
                    display: none;
                }

                .profileSvg{
                    margin: 0;
                    border-color: var(--secondColor);
                    z-index: 120;

                    path{
                        stroke: var(--secondColor);
                        fill: var(--secondColor);
                    }
                }

                .arrowSvg{
                    display: none;
                    margin: 0;
                }
            }

            &::after{
                content: '';
                position: absolute;
                top: -4px;
                left: -1px;
                border-radius: 50px;
                width: 52px;
                height: 52px;
                transition: all 0.2s ease-out;
                z-index: -1;
            }
        }

        .user:hover{
            a{
                background: unset;
            }
            &::after{
                background: rgba(0, 0, 0, 0.056);
                transition: all 0.2s ease-in;
            }
        }
    }
}

@media screen and (max-width: 960px){
    .header{
        width: 100%;
        .mobileHeader{
            display: flex;
        }
        .headerSearchDiv{
            width: 80%;
        }
    }
}

@media screen and (max-width: 680px){
    .header{
        margin: 0;
        .filterHeaderDiv{
            top: 90dvh;
        }
        .headerSearchDiv{
            width: 100%;
        }
        .scrolledSearhDiv{
            max-width: 65%;
        }
        .searchDiv{
            ul{

                .mobileSearchDivLI{
                    padding: 0;
                    
                    p{
                        font-size: 0.9rem;
                    }
    
                    svg{
                        min-width: 16px;
                        min-height: 16px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px){
    .header{
        .headerSearchDiv{
            width: 80%;
        }

        .searchDiv{
            ul{

                .mobileSearchDivLI{
                    padding: 0;
                    
                    p{
                        font-size: 0.9rem;
                        font-weight: 600;
                    }
    
                    svg{
                        min-width: 16px;
                        min-height: 16px;
                    }
                }
            }
        }
    }
}