*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --backgroundMainColor: white;
    --white: white;
    --secondColor: #00cacd;
    --secondColorLight: #007d7f62;
    --secondColorDark: #005d5f;
    --thirdColor: rgb(0, 181, 221);
    --thirdColorHover: rgb(0, 149, 183);
    --secondColorHover: #00afb2;
    --darkWhiteLight: #f8f8f8;
    --darkWhite: #f3f3f3;
    --darkWhiteHover: #d7d7d7;
    --softRed: rgb(255, 113, 130);
    --headerHeight: 176px;
    --headerHeightMobile: 76px;
    --softGreen: #c3fec8;
    --softYellow: #ffefbc;
    --linearBlackToSecondColor: linear-gradient(to top, black, red);
}

body{
    overflow-x: hidden;
}

.grecaptcha-badge {
    z-index: 10;
    scale: 0.8;
    bottom: 10vh;
}

.disable-scrolling{
    overflow: hidden;
    -ms-overflow-style: none; 
    scrollbar-width: none;

    
    &::-webkit-scrollbar{
        display: none;
    }
}

.disable-text-copy{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    &:focus{
        outline: none !important;
    }
}

.main {
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    
    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;

        .home{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 1300px;
        }
    }
}

